<!--  USER SETTINGS VIEW -->

<div id="selectIconView" class="channel-list" style="background:#444 !important;" data-role="page" >
    
    
    
    <div id="gpanel"></div>
    <div id="gpaneldots"></div>
    <div data-role="header" class="header">
        
        <a href="#mypanel" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-right menu-button">&nbsp;</a>
        <a id="notification-star" href="#" data-rel="popup" data-role="none" onclick="OVERLAY.show();" data-inline="true" class="ui-btn-left menu-button-star" style="margin:auto !important;">&nbsp;</a>
        <button id="hnav" class="hnav" data-role="none"  data-bind="click: backNav, text: navText" ></button>
        
    </div>
    
    
    <div class="message-list"  data-role="content" data-iscroll>
        
        
        <ul class="icon-list" style="list-style-type: none;" >
        <!-- ko foreach: iconSets, updateListviewOnChange:iconSets -->
            <li  
            
            
            ><a href="#" data-bind="text: $data, click:$parent.pickImageSet"></a> </li>
            
            
            <!-- /ko -->
        </ul>
        
        
        <ul class="icon-list" style="list-style-type: none;" >
            
            <!-- ko foreach: iconsToSelect, updateListviewOnChange:iconsToSelect -->
            <li class="icon-list-item " 
            
            data-bind="text: id, style: {'margin':'5px','border-radius': '50%', 'border': '2px solid white',
             'background': 'url(resources/icons/' + image + ')', 'width': width + 'px',
              'height': height + 'px', 'float': 'left',
               'background-position': -left + 'px ' + -top + 'px',
               'background-size': bgsize,
               'cursor': 'pointer'
                }, click:$parent.pickImage"
            > </li>
            
            
            <!-- /ko -->
            
        </ul>
        
    </div>
    
    <div id="gfooter"></div>
    
    
</div>
