@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
html, ul, li, a, p, span, img, h1, h2, h3, h4, h5, h6 {
	text-decoration:none;
	line-height:normal;
	margin:0;
	padding:0;
	border:none;
	list-style:none;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../font/opensans-regular.eot');
	src: url('../font/opensans-regular.eot') format('embedded-opentype'),
			 url('../font/opensans-regular.woff') format('woff'),
			 url('../font/opensans-regular.ttf') format('truetype'),
			 url('../font/opensans-regular.svg#OpenSansRegular') format('svg');
}
body {
	margin:0 auto;
	font-family: 'OpenSansRegular';
	background:#414141;
}
.clear {
	clear:both;
}
/*Header*/
header {
	background:#8dc63f;
	padding:8px 0;
	width:100%;
	border-radius:4px 4px 0 0;
	position:fixed;
	top:0;
	z-index:9999;
}
/*
	*Back Button 
*/
.back {
	background:url(images/sprites.png) no-repeat 0 -1035px ;
	padding:1px 80px;
	margin-left:10px;
}
.menu {
	float:right;
	margin:0 10px 0 0;
	padding:12px 13px;
	background:url(images/sprites.png) no-repeat -10px -1094px;
}
/*	Header end	*/
/*	
	*	Page Content	
*/
h1 {
	font-size:16px;
	font-weight:normal;
	color:#FFF;
	display:inline-block;
	margin:8px 0 10px 14px;
}
h1.additionalsettings {
	margin:20px 0 10px 14px;
}
.page-content {
	padding:0 0 10px 10px;
	margin:40px 0 60px 0;
}
.portal-name {
	font-size:20px;
	color:#8dc63f;
	font-style:italic;
	display:block;
	margin:20px 20px 12px 17px;
	display:inline-block;
	width:100%;
}
.welcome {
	font-style:normal;
	font-size:22px;
}
/*
	*Home Page
*/
/* 
	*	Slides 
*/
.slides {
	padding:0 2px 2px 2px;
	background:#8DC63F;
	border-radius:4px;
	margin:0 10px 12px 0;
	box-shadow:inset 0 0 1px #000;
}
.slides h1 {
	background:url("images/important.png") no-repeat 15px 3px;
	font-size:18px;
	margin:8px 0 4px 0;
	padding:0 0 0 40px;
	display:inline-block;
}
.slides .actions {
	display:none;
}
.slides .actions.first {
	display:block;
}
.actions {
	background:#e6e7e8;
	padding:8px;
	border-radius:4px;
	overflow:hidden;
}
.actions span{
	padding:10px;
	float:right;
	background:url(images/sprites.png) no-repeat -17px -123px;
}
.message{
	font-size:15px;
	line-height:16px;
	font-style:italic;
	padding:0 0 6px 3px;
}
.actions em {
	margin:0 0 12px 3px;
	font-size:15px;
	line-height:17px;
	display:block;
}
.actions-info {
	border-radius:4px;
	background:#2c2c2c;
	padding:3px 3px 1px 3px;
	overflow:hidden;
	min-height:38px;
}
.download-app {
	padding:3px;
	min-height:inherit;
}
.actionform {
	background:#fff;
	border-radius:3px;
	overflow:hidden;
}
.actions-info input[type="text"] {
	border:none;
	height:36px;
	border-radius:3px 0 0 3px;
	background:#fff;
	padding:0 0 0 6px;
	width:72%;
	font-size:15px;
	font-family:'OpenSansRegular';
}
.error-message {
	font-size:14px;
	color:#fff;
	font-style:italic;
	line-height:normal;
	margin:4px 15px 4px 10px;
}
.error-message span {
	background:none;
	font-weight:bold;
	color:#ED1C24;
	float:none;
	font-style:normal;
	padding:0;
}
.message strong{
	color:#000099;
}
.buddy {
	background:#8DC63F url(images/buddy-white.png) no-repeat 7px 6px;
	padding:3px 8px 3px 22px;
}
.actions-info h3 {
	color:#fff;
	font-size:16px;
	padding:3px 5px;
	font-weight:normal;
	float:left;
}
.actions-info .go{
	padding:3px 18px;
	margin:3px 4px;
}
.actions .resend {
	color:#000;
}
/*Slider End*/
.addbtn{
	background:#8dc63f url(images/add-verify.png) no-repeat 6px center;
	border:none;
	padding:3px 5px 3px 16px;
	font-size:13px;
	border-radius:4px;
	font-family: 'OpenSansRegular';
	color:#fff;
	float:right;
	margin:6px 6px 6px 0;
}
.larrow, .rarrow {
	float:left;
	margin:12px 0 0 0;
	padding:8px;
	background:url(images/left-arrow.png) no-repeat 2px 0;
}
.rarrow {
	float:right;
	background:url(images/right-arrow.png) no-repeat 2px 0;
}
.dots {
	float:left;
	padding:0;
	text-align:center;
	width:88.5%;
	margin:7px 0 2px 0;
}
.dots a {
	background:url(images/slider-gray.png) no-repeat center center;
	padding:0 6px;
	margin:0 3px;
	display:inline;
}
.dots a.active {
	background:url(images/slider-green.png) no-repeat center center;
}
.alldetails {
	background:#2D2D2D;
	border-radius:21px 0 0 10px;
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	padding:4px 0 8px 0;
}
.emergency {
	float:left;
	margin:0 15px 0 4px;
	background:url(images/sprites.png) no-repeat -9px -633px;
	padding:19px;
}
.urgent {
	background-position:-9px -690px;
}
.sensitive {
	background-position:-9px -748px;
}
.low {
	background-position:-9px -805px;
}
.normal {
	background-position:-9px -1555px;
}
.details {
	border-bottom: 1.5px solid #828181;
	color:#FFFFFF;
	float:left;
	font-size:15px;
	font-weight:normal;
	margin:0;
	overflow:hidden;
	padding:8px 0;
	width:76.7%;
	text-transform:capitalize;
}
.details strong {
	font-size:17px;
	color:#FFF;
	font-weight:normal;
}
.alldetails ul {
	clear:both;
	overflow:hidden;
	padding:0 15px;
}
.alldetails ul li {
	padding:8px 0 9px 42px;
	color:#8dc63f;
	font-size:13px;
	display:block;
	font-weight:normal;
	border-bottom:1.5px solid #828181;
}
.alldetails ul li.last {
	border-bottom:none;
}
.alldetails ul li.mail strong {
	opacity:1;
}
.alldetails ul li.eme-buddy {
	background:url(images/buddy.png) no-repeat 42px 8px;
	padding:6px 0 6px 60px;
}
.alldetails ul li strong {
	opacity:0.5;
}
.alldetails ul li span {
	float:right;
	width:78px;
}
.low-messages {
	background:#2D2D2D url("images/sprites.png") no-repeat -5px 3px;
	border-radius:21px 0 0 21px;
	color:#FFFFFF;
	display:block;
	font-family:'OpenSansRegular';
	font-size:15px;
	line-height:35px;
	margin:0 0 10px;
	padding:4px 0 4px 56px;
	text-shadow:none;
}
.changepassword {
	background-position:-5px -55px;
}
.help {
	background-position:-5px -112px;
}
.channels {
	background-position:-5px -170px;
}
.feedback {
	background-position:-5px -228px;
}
.policy {
	background-position:-5px -285px;
}
.signout {
	background-position:-5px -343px;
}
/* Home-Index End */
/*
	*Emergency page
*/
.Emergencymsg {
	background:url("images/sprites.png") no-repeat -5px -623px;
	color:#FFF;
	padding:10px 10px 12px 56px;
	font-size:15px;
	height:36px;
	display: table-cell; 
  vertical-align: middle;
}
.message-arrives {
	padding:0 15px 8px 15px;
}
.message-arrives .details {
	width:100%;
}
.message-arrives ul {
	padding:0;
}
.message-arrives ul li {
	padding:6px 0 6px 20px;
}
.message-arrives ul li strong {
	color:#8DC63F;
	display:inline-block;
	font-size:14px;
	font-weight:normal;
	opacity:1;
	width:100%;
}
.message-arrives ul li span {
	color:#FFFFFF;
	display:inline-block;
	float:left;
	font-size:12px;
	margin-top:3px;
	width:55px;
}
.message-arrives ul.uplode {
	clear:none;
	padding:0;
}
.message-arrives ul.uplode li {
	border:none;
	padding:3px 0;
	color:#fff;
	margin:0;
	font-size:13px;
}
.message-arrives ul.uplode li.unuplode {
	color:#818181;
}
a.addMore {
	background:#2D2D2D url("images/gray-plus.png") no-repeat 3px 3px;
	margin-top:10px;
}
/*msg-alert*/
.msg-alert {
	padding:4px 0 10px 0;
}
.alert {
	background-position:-9px -1621px;
}
.delivertxt {
}
.fwd {
	background-position:-9px -1686px;
}
.delivertxt {
	background-position:-9px -575px;
}
.msg-alert strong {
	border-bottom:1.5px solid #828181;
	display:inline-block;
	padding:7px 0 9px 0;
	width:76.5%;
	color:#8DC63F;
	font-size:14px;
	font-weight:normal;
}
.msg-alert ul {
	padding:0 15px;
}
.msg-alert ul li {
	padding:7px 0 7px 42px;
}
.portal-name a {
	float:right;
	padding:20px 35px;
	background:url(images/sprites.png) no-repeat -10px -458px;
}
/*
	*Page 36.
*/
.actionreplay {
	font-size:15px;
	color:#fff;
	padding:0 0 10px 56px;
	display:block;
}
.fwd-action {
	background-position:-5px -1683px;
}
.deliver-txt {
	background-position:-5px -572px;
}
.deliver-email {
	background-position:-5px -514px;
}
.alert-app {
	background-position:-5px -1618px;
}
/*36-end*/
/*
	*Page V-36b
*/
.low-messages.deliver-txt.addno.ui-link, .addno {
	color:#8DC63F;
}
/*V-36b-end*/
/*Emergency action details*/
.actiondetails ul li {
	text-align:right;
	min-height:40px;
	line-height:40px;
	font-size:15px;
	color:#FFFFFF;
	padding:6px 0;
	overflow:hidden;
}
.alldetails .actiondetails ul li span {
	float:none;
	color:#8DC63F;
}
.action-time input {
	border:none;
	border-radius:4px;
	font-family:'OpenSansRegular';
	height:35px;
	margin:0 5px;
	padding:0 8px;
	width:22px;
	font-size:16px;
	text-align:right;
}
.add-retry a{
	background:url("images/gray-plus.png") no-repeat scroll 0 10px;
	padding:17px 0 16px 50px;
	color:#fff;
	line-height:35px;
}
.save {
	background:#8DC63F;
	padding:4px 15px;
	margin-right:0;
}
select, .ui-icon-arrow-d {
	background:#fff url(images/drop-down.png) no-repeat right 0;
	border:none;
	border-radius:4px;
	padding:5px 10px;
	width:48%;
	height:35px;
	font-size:16px;
	margin-top:3px;
	font-family:'OpenSansRegular';
	text-indent:0.01px;
  text-overflow: '';
	-webkit-appearance: none;
	-moz-appearance: none;
}
/*Emergency action details end*/
/*
	*V-37b (entire view)
*/
.alldetails .collapse a, .ui-body-c .alldetails .collapse a.ui-link:hover {
	background:#414141 url("images/collapse-none.png") no-repeat 86px 7px;
	font-size:15px;
	color:#8DC63F;
	padding:8px 44px 8px 10px;
	border-radius:4px;
	display:inline-block;
}
.alldetails .collapse span {
	background:url("images/collapse.png") no-repeat left center;
	padding:0 14px;
	height:10px;
	width:20px;
}
/*	V-37b (entire view) End	*/
/*
	*	V-12b - Delete - A
*/
.portal-name a.red-delete {
	background-position: -8px -975px;
}
.remove {
    background:url("images/sprites.png") no-repeat scroll -8px -403px transparent;
}
/*	V-12b - Delete - A End	*/
/*
	*	V-12b - Delete -B
*/
.removedelete {
	border-bottom:1.5px solid #828181;
	display:inline-block;
	padding:8px 0 4px 0;
	width:76.8%;
	color:#8DC63F;
	font-size:14px;
	min-height:25px;
	font-weight:normal;
}
.deleteemail {
	background:#ED1C24;
	border-radius:4px;
	color:#FFFFFF;
	float:right;
	font-size:14px;
	line-height:25px;
	padding:0 10px;
	margin-top:-3px;
}
.remove-delete, .addnewno .remove-delete {
	background:url("images/sprites.png") no-repeat -8px -920px;
}
/* V-12b - Delete - B End */
/*
	*	V- 09 My contact information
*/
.details-delete {
	overflow: hidden;
	padding:0 15px 0 0;
}
.details-delete h1 {
	float: left;
}
.gray-delete, .red-delete  {
	background:url("images/sprites.png") no-repeat -10px -460px;
	float:right;
	padding:19px;
}
.addnewno {
	background:#2D2D2D;
	border-radius:21px 0 0 21px;
	color:#FFFFFF;
	font-size:17px;
	line-height:35px;
	margin:5px 0;
	overflow:hidden;
	padding:3px 0;
	width:100%;
}
.addnewno em {
	background:url("images/sprites.png") no-repeat -10px -517px;
	border-radius:50%;
	float:left;
	margin:0 15px 0 4px;
	padding:19px;
}
.addnewno span {
	color:#8DC63F;
	font-size:13px;
	float:left;
	padding:10px 0;
}
.verify {
	background:#8DC63F;
	padding:3px 8px;
}
.notverify em, .notverify span {
	opacity:0.5;
}
/*	V- 09 My contact information End	*/
/*
	*	V-09 - Delete - A B C
*/
em.remove-msg-no {
	background:url("images/sprites.png") no-repeat -8px -403px;
}
.red-delete {
	background-position:-8px -978px;
}
.disabled {
	opacity: 0.5;
}
.addnewno .deleteemail {
	margin:7px 10px 6px 0;
}
/* V-09 - Delete - A b c End */
/*
	*	V-10
*/
.add-action {
	background:#2D2D2D;
	border-radius:4px 0 0 4px;
	color:#FFFFFF;
	display:inline-block;
	font-size:15px;
	font-weight:normal;
	line-height:35px;
	min-height:40px;
	padding:3px 0 0 0;
	width:100%;
}
.addaction {
	background:#FFFFFF;
	border-radius:3px;
	margin:0 0 0 3px;
	width:97%;
	overflow:hidden;
}
.addaction input[type="text"] {
	background:#FFFFFF;
	border:none;
	border-radius:3px 0 0 3px;
	font-family:'OpenSansRegular';
	font-size:14px;
	height:36px;
	padding:0 0 0 5px;
	width:76%;
}
.success {
	font-size:14px;
	color:#fff;
	padding:0 0 0 6px;
}
.success p {
	padding-bottom:10px;
}
.success span {
	color:#8DC63F;
}
.resend {
	color:#FFFFFF;
	font-size:14px;
	font-style:italic;
	line-height:34px;
	overflow:hidden;
	margin-top:10px;
	padding:0 10px;
}
.slideresend {
	margin:0;
	padding:5px 0;
	border-bottom:1px solid #fff;
}
.resend a, .ui-body-c .resend a.ui-link {
	background:#cfd1d3;
	color:#97999c;
	float:right;
	font-size:12px;
	font-style:normal;
	padding:3px 8px;
	margin:6px 0;
}
.errorstate, .errorstate input[type="text"] {
	background:#fefbd6;
}
/*V-10 End*/
/*
	*Footer css
*/
.footer {
	background:#fff;
	position:fixed;
	bottom:0;
	z-index:9999;
	width:100%;
	height:46px;
}
.logo, .ui-body-c .logo.ui-link, .ui-body-c .logo.ui-link:visited, .ui-body-c .logo.ui-link:hover, .ui-body-c .logo.ui-link:active{
	height:26px;
	color:#A7A9AC;
	font-family:'OpenSansRegular';
	font-style:italic;
	float:left;
	margin:13px 0 4px 20px;
	padding:0 0 0 28px;	
	background:url("images/sprites.png") no-repeat -14px -1325px;
}
.announcement {
	background:url("images/sprites.png") no-repeat -3px -1486px;
	float:right;
	margin:-5px 0 4px 0;
	padding:22px 60px 22px 0;
}
/*Footer End*/
/*
	*	Login page css
*/
.logininfo {
	color:#fff;
	font-size:16px;
	font-style:italic;
	margin:0 0 0 10px;
}
.tm:after {
	content:"TM";
	font-size:11px;
	font-style: normal;
	margin:0 0 0 4px;
	position:absolute;
}
.loginform {
	overflow:hidden;
}
.loginform .msginfo {
	font-size:16px;
	color:#fff;
	margin:15px 0 15px 10px;
	display:block;
}
.loginform form {
	border-bottom:1px solid #A0A0A0;
	overflow:hidden;
	padding:0 0 30px 0;
}
.loginform .formtype {
	background:#2d2d2d;
	padding:4px 5px 0 4px;
	margin-bottom:10px;
	min-height:40px;
	border-radius:7px 0 0 7px;
}
.loginform input[type="text"], .loginform input[type="password"] {
	border:none;
	width:100%;
	padding:0 10px;
	font-size:14px;
	font-family:'OpenSansRegular';
	color:#a7a9ac;
	border-radius:4px;
	float:left;
	height:36px;
}
.loginform .validationright input[type="text"], .loginform .validationright input[type="password"] {
	color:#000;
}

.loginform input.typeerrormsg {
	background:#fefbd6;
	color:#000;
	float:left;
}
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label {
	color:#a0a0a0;
	font-size:20px;
	font-family:'OpenSansRegular';
}
input[type="checkbox"] + label span {
	background:url("images/checkbox.png") no-repeat 10px 0;
	cursor:pointer;
	display:inline-block;
	height:30px;
	margin:0 6px 0 0;
	vertical-align:middle;
	width:38px;
}
input[type="checkbox"]:checked + label span {
	background:url("images/checkbox2.png") no-repeat 10px -3px;		
}
.login {
	overflow:hidden;
	line-height:46px;
	padding:0 0 0 10px;
	clear:both;
}
.login a.ui-link {
	color:#A0A0A0;
	font-size:18px;
	text-decoration:underline;
}
.loginbtn {
	background:#2d2d2d;
	padding:10px 15px 10px 10px;
	border-radius:24px 0 0 24px;
	float:right;
}
.loginbtn a.ui-link {
	background:#8dc63f;
	color:#fff;
	float:left;
	font-size:14px;
	padding:4px 14px;
	text-decoration:none;
	border-radius:20px 4px 4px 20px;
}
.signedup {
	color:#fff;
	font-size:16px;
	display:block;
	font-weight:normal;
	font-style:italic;
	margin:10px 20px 10px 10px;
}
hr {
	height:1px;
	background:#545454;
	border:0;
	margin:15px 20px 20px 10px;
}
.loginform span {
	margin:10px 0 20px 10px;
	font-size:16px;
	color:#fff;
	display:inline-block;
}
.changepswd {
	background:url("images/sprites-login.png") no-repeat -23px -266px;
	padding:1px 0 1px 32px;
}
.errormsg {
	background:url("images/sprites-login.png") no-repeat -28px -196px;
	clear:both;
	color:#ED1C24;
	font-size:14px;
	font-weight:bold;
	line-height:34px;
	margin:0 0 0 8px;
	padding:0 0 0 20px;
}
.loginform .registration {
	padding:4px 38px 0 4px;
}
.loginform .registration em{
	position:absolute;
	background:#2d2d2d url("images/sprites-login.png") no-repeat -15px -338px;
	padding:19px 24px 19px 15px;
}
.loginform .registration em.enable {
	background:#2d2d2d url("images/sprites-login.png") no-repeat -15px -474px;
}
.signedup span {
	color:#8DC63F;
}
.terms {
	font-size:16px;
	color:#fff;
	padding:0 10px;
}
.terms a.ui-link, .terms a.ui-link:hover{
	text-decoration:underline;
	display:block;
	color:#a0a0a0;
}
.loginform .registration .righttick {
	background:#2d2d2d url("images/sprites-login.png") no-repeat -15px -260px;
}
.loginform .registration .errorimg {
	background:#2d2d2d url("images/sprites-login.png") no-repeat -15px -399px;
}
.msgerror {
	color:#fff;
	font-style:italic;
	font-size:14px;
	display:inline-block;
	margin:4px 0 4px 8px;
}
.msgerror span {
	color:#ED1C24;
	font-size:14px;
	margin:0;
	font-style:normal;
	font-weight:bold;
}
/*	New User	*/
.page-content.tutorials {
	margin:55px auto 20px;
	padding:0;
	width:auto;
	scalable:no;
}
.new-user {
	height:100%;
	position:absolute;
	top:0;
	width:auto;
}
.new-user img {
	margin:auto;
	top:0;
	position:fixed;
	width:100%;
	margin-top:55px;
}
.msg-content {
	padding:15px 0;
	position:absolute;
	top:45%;
	z-index:1;
	background:#000;
	opacity:0.8;
	width:100%;
	text-align:center;
	min-height:78px;
}
.msg-content h1 {
	font-size:18px;
	margin:10px 15px 0 15px;
	color:#8DC63F;
	display:block;
	clear:both;
	text-align:left;
}
.msg-content p {
	padding:0 10px 8px 10px;
	font-size:14px;
	color:#fff;
	float:left;
	width:82%;
	text-align:left;
}
.msg-content span {
	background:url(images/new-user.png) no-repeat right 10px;
	color:#fff;
	margin:0 0 0 10px;
	padding:20px 10px;
	float:left;
}
span.down-arrow {
	clear:both;
	display:block;
	float:none;
	margin-right:30px;
	padding:16px 10px;
	background:url(images/new-user.png) no-repeat right top;
}
.tutorial {
	background:#8dc63f;
	padding:0;
	width:100%;
	border-radius:4px 4px 0 0;
	position:fixed;
	top:0;
	z-index:9999;
	line-height:55px;
	height:55px;
}
.tutorial ul {
	float:right;
	margin:0 10px 0 0;
	line-height:55px;
}
.tutorial h1 {
	font-size:16px;
	font-style:italic;
}
.tutorial ul li {
	display:inline;
	padding:0 12px;
	background:url("images/sprites-login.png") no-repeat -22px -75px;
}
.tutorial ul li.active {
	background:url("images/sprites-login.png") no-repeat -22px -139px;
}
.GetStart {
	position:absolute;
	text-align:center;
	top:61.6%;
	width:100%;
	z-index:9999;
}
.GetStart h2 {
	background:#8DC63F;
	border-radius:4px;
	color:#FFFFFF;
	display:inline-block;
	font-size:25px;
	font-weight:normal;
	padding:8px 20px;
}
.tutorialbottombar {
	background:#8DC63F;
	bottom:0;
	padding:10px 0;
	position:fixed;
	width:100%;
	z-index:9999;
	height:auto;
}
.userunique {
	background:url("images/sprites-login.png") no-repeat -25px -481px;
	padding:0 0 0 26px;
}
/*	CHANNEL	*/
.getmsg {
	color:#fff;
	font-size:16px;
	font-style:italic;
	margin:10px 0 10px 10px;
	display:block;
}
.getmsg span {
	color:#8DC63F;
}
.Channel {
	background:#2D2D2D;
	border-radius:4px;
	margin:0 30px 0 20px;
	overflow:hidden;
	color:#fff;
	font-size:15px;
	padding: 10px 10px 10px 10px;
	line-height:28px;
}
.Channel a {
	background:#8DC63F;
	border-radius:4px;
	color:#FFFFFF;
	float:right;
	font-size:14px;
	padding:4px 14px;
}
.logintop {
	background:url(images/login.png) no-repeat left center;
}
.forgotpassward {
	background:url(images/forgotpassward.png) no-repeat left center;
}
.register {
	background:url(images/register.png) no-repeat left center;
}
/*	Login page css	*/
/*
	*	Overwrite css jquery Mobile
*/
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
	position:relative;
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font-family: 'OpenSansRegular';
}
.ui-body-c, .ui-overlay-c {
	text-shadow:none;
	border:none;
	background:#414141;
}
.ui-shadow-inset {
	box-shadow:none;
}
.ui-input-search, div.ui-input-text {
	float:left;
	margin:0;
	background:#fff;
	padding:0;
	width:76%;
}
.loginform .ui-input-search, .loginform div.ui-input-text {
	width:99%;
	border-radius:4px;
}
.errorstate .ui-input-search, .errorstate div.ui-input-text {
	background:#FEFBD6;
}
div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text {
	padding:0 0 0 6px;
	height:36px;
}
.ui-btn-corner-all,
.ui-corner-all {
	border-radius:0;
}
.ui-hide-label input.ui-input-text, .ui-hide-label textarea.ui-input-text, .ui-hide-label .ui-input-search, .ui-hide-label div.ui-input-text, .ui-input-search input.ui-input-text, div.ui-input-text input.ui-input-text {
	width:98%;
}
.loginform div.ui-input-text .typeerrormsg.ui-input-text {
	width:97.8%;
	background:#FEFBD6;
	border-radius:4px;
}
.loginform .validationerror .ui-input-search, .loginform .validationerror div.ui-input-text {
	background:#FEFBD6;
}
.ui-body-c .ui-link {
	color:#fff;
	font-weight:normal;
}
.ui-body-c .ui-link:visited, .ui-body-c .ui-link:hover, .ui-body-c .ui-link:active {
	color:#fff;
}
.ui-checkbox, .ui-radio {
	float: left;
}
.ui-checkbox .ui-btn {
	margin: 0;
}
.ui-checkbox .ui-btn-up-c, .ui-btn-hover-c {
	background:#414141;
	border: medium none;
	text-shadow:none;
}
.ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner {
	padding-left: 0;
}
.ui-checkbox .ui-btn-inner {
	display: inline;
}
.ui-checkbox label span.ui-btn-inner span.ui-btn-text {
	font-size: 21px;
}
.ui-checkbox label span.ui-btn-inner span.ui-btn-text {
	color:#7F7F7F;
	font-family: 'OpenSansRegular';
	font-size:20px;
	font-weight:normal;
	padding:0 0 0 26px;
}
.ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {
	margin-top:-12px;
	left:-6px;
}
.ui-btn-up-c {
	text-shadow:none;
	border:none;
}
.ui-checkbox .ui-btn-inner {
	border:none;
}
.ui-checkbox-off .ui-icon {
	background: url("images/checkbox.png") no-repeat 0 0;
	height:28px;
	width:28px;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background: url("images/checkbox2.png") no-repeat 0 0;
	height:28px;
	width:28px;
}
.ui-icon-shadow {
	box-shadow:none;
}
.action-time label {
	float:left;
	width:32%;
	line-height:35px;
}
.actiondetails ul .action-time  li {
	line-height:normal;
	min-height:inherit;
	padding:10px 0;
}
.action-time .ui-input-search, .action-time div.ui-input-text {
	border-radius:4px;
	margin:0 1%;
	width:15%;
}
.action-time div.ui-input-text input.ui-input-text {
	width:95%;
	text-align:center;
}
.action-time .ui-select .ui-btn {
	margin:0;
	border-radius:4px;
}
.action-time .ui-select .ui-btn-hover-c {
	background:#fff;
}
.ui-btn-hover-c {
	border:none;
	background:none;
	font-weight:normal;
	text-shadow:none
}
.action-time .ui-select {
	width:51%;
	float:left;
}
.ui-btn-up-c {
	font-weight:normal;
}
.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
	width:100%;
	padding:7px 0;
	text-align:left;
}
.alldetails ul .action-time li span.ui-btn-text span {
	font-size:17px;
	color:#000;
	padding:0 0 0 6px;
}
.ui-select .ui-btn-icon-right .ui-icon {
	right:0;
	margin-top: -16px;
	width:15px;
}
.ui-shadow {
	box-shadow:none;
}
.ui-select .ui-btn select {
	margin:0;
	padding:0;
}
.ui-icon, .ui-icon-searchfield:after {
}
.ui-focus, .ui-btn:focus, .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow:none;
}
/* Overwrite css jquery Mobile End	*/
/*
	*@media query css
*/
@media only screen and (min-width:320px) {
	.Emergencymsg {
		line-height:16px;
	}
}
@media only screen and (min-width:360px) { 
	.details {
		width:79.5%;
	}
	.msg-alert strong {
		width:79.3%;
	}
	.removedelete {
		width:79%;
	}
	.addaction {
		width:96.5%;
	}
	.ui-input-search, div.ui-input-text {
		width:78%;
	}
	.dots {
		width:90%;
	}
	.bottombar {
		padding:12px 0;
	}
	.GetStart {
		top:57.8%;
	}
}
@media only screen and (min-width:768px) {
	.details {
		width:90.5%;
	}
	.msg-alert strong {
		width:90.5%;
	}
	.removedelete {
		width:90.2%;
	}
	.addaction {
		width:98%;
	}
	.ui-input-search, div.ui-input-text {
		width:90%;
	}
	.dots {
		width:95.5%;
	}
	.msg-content p, .msg-content h1 {
		width:90%;
	}
	.tutorial h1 {
		font-size:22px;
	}
}
@media only screen and (max-width:1280px) and (min-width:768px) {
	.msg-content p {
		font-size:18px;
	}
}
@media only screen and (min-width:800px) {
	.details {
		width:90.9%;
	}
	.msg-alert strong {
		width:90.9%;
	}
	.removedelete {
		width:90.2%;
	}
	.ui-input-search, div.ui-input-text {
		width:90.5%;
	}
	.addaction {
		width:98.2%;
	}
	.msg-content p, .msg-content h1 {
		width:90%;
	}
	.dots {
		width:95.7%;
	}
	.GetStart {
		top:51%;
	}
}
@media only screen and (min-width:980px) {
	.details {
		width:92.6%;
	}
	.msg-alert strong {
		width:92.5%;
	}
	.removedelete {
		width:92.6%;
	}
	.addaction {
		width:98.5%;
	}
	.ui-input-search, div.ui-input-text {
		width:92.5%;
	}
	.dots {
		width:96.5%;
	}
	.msg-content p, .msg-content h1 {
		width:92%;
	}
	.GetStart {
		top:50%;
	}
}
@media only screen and (min-width:1280px) {
	.details {
		width:94.6%;
	}
	.msg-alert strong {
		width:94.5%;
	}
	.removedelete {
		width:94.4%;
	}
	.addaction {
		width:99.5%;
	}
	.ui-input-search, div.ui-input-text {
		width:94%;
	}
	.dots {
		width:97.4%;
	}
	.msg-content p, .msg-content h1 {
		width:94%;
	}
	.GetStart {
		top:56%;
	}
	.msg-content p {
		font-size:18px;
	}
}
@media only screen and (max-width: 600px) and (min-width: 599px) {
	.new-user img {
		width:130%;
	}
}
@media only screen and (min-width:1366px) {
	.addaction {
		width:99%;
	}
	.ui-input-search, div.ui-input-text {
		width:94.5%;
	}
	.GetStart {
		top:53%;
	}
}
@media only screen and (max-width: 900px) and (min-width: 899px) {
	.new-user img {
		width:130%;
	}
}
/* @media query css End*/




