<!--To do - Pradeep Kumar-->
<div id="aboutEvernymView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('escalationPlansView');"><em></em>Settings</a>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content">
    <h1 class="help-FAQs">About Evernym Channels</h1>
    <div class="aboutuschannel last">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum . . . .
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>
</div>   