<div id="addContactView" data-role="page">
  <header>
    <a href="#" class="back" data-bind="click: gotoView"><em></em>BACK</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>    
  </header>
  
  <section data-bind="if: showDelete">
    <div class="page-content">
      <h4 class="information-delete" data-bind="text: currentDeleteCommethod"></h4>
      
      <section data-bind="{ifnot: showConfirm, click: showConfirmButton}">
        <a href="#" class="mycontact">
          <em class="gray-delete"></em><span class="delete-address">Delete This Address</span>
        </a>  
      </section>
      <section data-bind="if: showConfirm">
        <div class="mycontact">
          <em class="gray-delete"></em>
          <span class="delete-address">Delete This Address</span>
          <a class="confirmbtn" href="#" data-bind="click: confirmDelete">CONFIRM</a>
        </div>  
      </section>
    </div>
  </section>
  
  <section data-bind="ifnot: showDelete">
    <div class="page-content">
      <div class="portal-name" data-bind="text: accountName"></div>
      <div class="details-delete"> <h1>My contact information</h1> </div>
      <div data-bind="foreach: commethods">
        <section data-bind="ifnot: $data.comMethodVerify">
          <a href="#" class="mycontact" data-bind="click: $parent.gotoDelete.bind('verifyContactView')">
            <em data-bind="css: $data.comMethodTypeClass"></em><span data-bind="text: $data.comMethodAddress"></span>
          </a>          
        </section>
        <section data-bind="if: $data.comMethodVerify">
          <a href="#" class="mycontact" data-bind="css: $data.comMethodClass, click: $parent.gotoDelete.bind('verifyContactView')">
            <em data-bind="css: $data.comMethodTypeClass"></em><span data-bind="text: $data.comMethodAddress"></span>
            <span class="addbtn verify" data-bind="click: $parent.gotoVerify.bind('verifyContactView')">VERIFY</span>
          </a>          
        </section>
      </div>
      <a class="low-messages addMore" href="#" onclick="goToView('additionalContactView');"> Add an additional number or email </a>
    </div>
  </section>
  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
  
</div>