<!--To do - Pradeep Kumar-->
<div id="addFollowersView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('followersListView');"><em></em>BACK</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo"><strong data-bind="text: channelName"></strong></div>
      </div>
    </div> 
    <section class="loginform" method="get" action="#">
      <label class="msginfo">Add a Follower Manually</label>
      <div class="formtype" data-bind="css: nameClass">
        <input type="text" data-bind="value: firstLastName" placeholder="first and last name" />
        <div class="msgerror" data-bind="html: errorName"></div>         
      </div>
      <div class="formtype" data-bind="css: emailClass">
        <input type="text" data-bind="value: emailaddress" placeholder="phone number or email address" />
        <div class="msgerror" data-bind="html: errorEmail"></div>         
      </div>
      <div class="login"><div class="loginbtn"><a href="#" data-bind="click: addFollowersCommand">ADD</a></div></div>
    </section>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>   