<div id="addFollowersView" data-role="page">
  <header class="logged-in"></header> 
  <div class="page-content">
  	<section data-bind="if:showInvite">
    <div class="provisionalchannel">
      <span class="channelimg channel1 borderred"></span>
      <div class="channelinfoname" data-bind="text: channelName"></div>
    </div>
    </section>
    <section class="loginform" data-bind="if:showInvite">
      <label class="msginfo">Add a Follower</label>
      <div class="formtype" data-bind="css: nameClass">
      	<input type="text" placeholder="first and last name (optional)" data-bind="value: firstLastName" />
        <div class="msgerror" data-bind="html: errorName"></div>
      </div>
      <div class="formtype" data-bind="css: emailClass">
      	<input type="text" data-bind="value: emailaddress" placeholder="email address*" />
        <div class="msgerror" data-bind="html: errorEmail"></div>
      </div>
      <div class="formtype" data-bind="css: phoneClass">
      	<input type="text" placeholder="phone number (for SMStext)*" data-bind="value: smsPhone" />
        <div class="msgerror" data-bind="html: errorPhone"></div>
      </div>
      <div class="required">*A phone number or email address are required</div>
			<div class="loginbtn"><a href="#" data-bind="click: addFollowersCommand">Add</a></div>
    </section>
    <div class="addbtnmsg" data-bind="if:showInvite">
      <p>When you click the Add button we'll send a simple message requesting your new follower's permission to receive messages from your channel.</p>
      <p>They will not be able to receive your broadcasts via text or email until we receive their permission for each.</p>
    </div>
    <section data-bind="ifnot:showInvite">
    	<div class="permissionmsg">
        <span>Permission request has been sent.</span>
        <span>You can see their status in the list of followers for this channel.</span>
      </div>
      <div class="loginbtn"><a href="#" class="ui-link" onclick="viewNavigate('Followers', 'followersListView', 'addInviteFollowersView');">Ok, Got It!</a></div>
    </section>
  </div>
  <div class="toast-notification"></div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Add Followers', 'addFollowersView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Add Followers', 'addFollowersView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>