<div id="additionalContactView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content">
    <div class="portal-name">Your evernym: <span data-bind="text: accountName"></span></div>
    <div class="success">
    	<p>Add a new phone number (TXT) or email</p>
    </div>
    
    <div class="add-action">
      <div class="addaction" data-bind="css: errorMessageInput">
        <input type="text" placeholder="phone or email" data-bind="{value: comMethodName}" />
        <a href="#" class="addbtn" data-bind="click: addCommethod">ADD</a>
      </div>
      <div class="error-message" data-bind="html: errorMessage"></div>
    </div> 
    
	</div>
  <div class="toast-notification"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Add New', 'additionalContactView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Add New', 'additionalContactView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>