<div id="administratorView" data-role="page">
	<header class="logged-in"></header> 
  <div class="page-content">
    <h1 class="help-FAQs feedback">Administrator panel</h1>
    <a class="low-messages bugicon" href="#" onclick="viewNavigate('Administration', 'administratorView', 'administratorFeedbackView');">Feedbacks</a>
    <a class="low-messages bugicon" href="#" data-bind="click: comingSoon">Evernym</a>
    <a class="low-messages bugicon" href="#" data-bind="click: comingSoon">Channels</a>
  </div>
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Settings', 'administratorView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Administration', 'administratorView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>