<div id="administratorFeedbackView" data-role="page">
	<header class="logged-in"></header> 
  <div class="page-content">
    <h1 class="help-FAQs feedback">Feedbacks</h1>
    <section>
    	<ul data-bind="foreach: submittedFeedbacks">
      	<li data-bind="text: comments" style="background:#fff;padding:6px;margin:5px 0;width:92%;"></li>
      </ul>
    </section>
  </div>
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Admin Feedback', 'administratorFeedbackView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Admin Feedback', 'administratorFeedbackView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>