<!--To do - Pradeep Kumar-->
<div id="channelNewView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelListView');"><em></em>BACK</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content" data-bind="visible: sectionOne">
    <div class="changename">Create a Channel</div>
    <em class="webaddress">Name your channel:</em>
    <em class="webaddress">(choose a short name with no spaces)</em>
    <section class="loginform">
      <label class="createchannel">Example:<em> karateclass</em></label>
      <div class="formtype">
        <input type="text" data-bind="value: newChannel, valueUpdate: 'afterkeydown'" placeholder="lawfamilyvacation" />
        <div class="channelavailable" data-bind="html: message"></div>
        <div class="msgerror" data-bind="html: errorNewChannel"></div>
      </div>
      <div class="login">
        <p class="loginbtn">
          <a href="#" data-bind="click: nextViewCommand">NEXT</a>
        </p>
      </div>
    </section>
  </div>
  <div class="page-content" data-bind="visible: sectionTwo">
    <div class="changename">Create a Channel</div>
    <em class="webaddress">Your channel's web address will be:</em>
    <div class="createchannel"><em data-bind="text: channelWebAddress"></em></div>
    <div class="login">
      <p class="loginbtn">
        <a href="#" data-bind="click: createChannelCommand">CREATE</a>
      </p>
    </div>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>   