<div id="channelsFollowingListView" data-role="page" data-dom-cache="true" class="channel-list">
  <header>
    <a href="#" class="back" data-bind="html: backText, click: backCommand"></a>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" data-bind="click:newMessages"><span class="received-responses-msg" data-bind="text:newMessagesCount"></span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>
  
  <div class="page-content channel_follow">
    <div class="dropdown">
      Channels I Follow:
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
        </select>
      </form>
    </div>
    <section data-bind="foreach: channels">
      <div class="channelinformation channel-follow">
        <a href="#" class="channelimg channel5 bordergreen"></a>
        <div class="channelinfocontent last">
          <a href="#" class="channelinfo channelfollow" data-bind="click: $parent.actionFollowChannelCommand">
            <strong data-bind="text:name"></strong>
            <em data-bind="text:description"></em>
          </a>
          <a href="#" class="setting" data-bind="click: $parent.channelViewUnfollow"></a>
        </div>
      </div>
    </section>  
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div> 
  
  <div class="messages-content" data-role="popup" id="newMessages" data-history="false" style="right:0px;">
    <div class="messagescontent">
        <div class="msg-hideshow">
          <h4>NEW MESSAGES</h4>
          <a data-rel="back" data-bind="click:closePopup"></a>
        </div>
        <section data-bind="foreach: newMessagesDisplay">
        <a class="messagesreceived" href="#" data-bind="click: $parent.newpop">
          <span class="channelicans" data-bind="css:$data.urgencyId"></span>
          <div class="messageschannel">
            <span class="received" data-bind="text: $data.chnlName"></span>
            <span class="messagebtn">iGi</span>
            <p class="receive-time"><em data-bind="text: created"></em>: News conference this ...</p>
          </div>
        </a>
        </section>
    </div>
  </div>  

  <div id="newPOP" data-role="popup" data-history="false">
    <div class="msg-hideshow">
      <h4>NEW MESSAGES</h4>
      <a data-rel="back" data-bind="click:closePopup"></a>
    </div>
  </div>

</div>
