<!--To do - Pradeep Kumar-->
<div id="channelChangeIconView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelSettingsView');"><em></em>BACK</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content">
    <div class="changename">Change Channel Icon Image</div>
    <em class="webaddress">Please select an icon below:</em>
    <div class="channelicons">
      <div class="channeliconsinner">
      <a class="leftarrow" href="#"></a>
      <ul>
        <li class="disableicon"><img src="../css/images/channelimg3.png" /></li>
        <li><img src="../css/images/channelimg1.png" /></li>
        <li class="disableicon"><img src="../css/images/channelimg2.png" /></li>
      </ul>
      <a class="rightarrow" href="#"></a>
      </div>
    </div>
    <em class="webaddress">Please select an icon below:</em>
    <ul class="icancolourcode">
      <li class="greenyellow"></li>
      <li class="darkgreen"></li>
      <li class="red"></li>
      <li class="pink"></li>
      <li class="skyblue"></li>
      <li class="darkblue"></li>
      <li class="orange"></li>
      <li class="yellow"></li>
      <li class="white"></li>      
    </ul>
    <div class="login">
      <div class="loginbtn">
        <a href="#" data-bind="click: changeChannelIconCommand">CONFIRM</a>
      </div>
    </div>   
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>   