<div id="channelChangeNameStepFirstView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelSettingsView');"></a>
    <a class="menu" href="#"></a>
    <div class="linkican">
      <a class="smsican" href="#"></a>
      <a class="processingican"href="#"></a>
      <a class="groupican" href="#"></a>
    </div>
  </header>  
  <div class="page-content">
    <div class="changename">Change Channel Name</div>
    <form class="loginform">
      <label class="msginfo"><em>New channel name (no spaces):</em></label>
      <div class="formtype">
        <input type="text" data-bind="value: channelChangeName" placeholder="2013hawks" />
        <div class="channelavailable" data-bind="html: message"></div>
        <div class="msgerror" data-bind="html: errorNewChannel"></div>
      </div>
      <div class="login">
        <p class="loginbtn">
          <a href="#" data-bind="click: nextViewCommand">NEXT</a>
        </p>
      </div>
    </form>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#"></a>
  </div>
</div>   