<!--  CHANNEL BROADCASTS VIEW -->

<div  id="channelBroadcastsView" class="channel-list"  data-role="page" >
    <div id="gpanel"></div>
    <div id="gpaneldots"></div>
    <div data-role="header" xdata-theme="b" class="header">
        
        
        
        <a href="#mypanel" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-left menu-button">&nbsp;</a>
        <a href="#mypaneldots" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-right menu-button-dots">&nbsp;</a>
        
        
        
        <div data-role="popup" id="popupMenu" >
            
            <ul data-role="listview" data-inset="true" style="min-width:210px;" xdata-theme="d">
                
                <li><a href="#" data-bind="click: refreshMessagesCommand">Refresh Messages</a></li>
                <li data-bind="style: {display:relationship()=='O'?'block':'none'}"><a href="index.html#sendMessageView" xdata-bind="click: refreshMessagesCommand">Send Message</a></li>
                <li data-bind="style: {display:relationship()=='O'?'block':'none'}"><a href="index.html#inviteFollowersView" >Invite Followers</a></li>
                <li data-bind="style: {display:relationship()=='O'?'block':'none'}"><a href="index.html#followersListView">Followers</a></li>
                <li data-bind="style: {display:relationship()=='O'?'block':'none'}"><a href="#" data-bind="click: deleteChannelCommand">Delete Channel</a></li>
                <li data-bind="style: {display:relationship()=='F'?'block':'none'}"><a href="#" data-bind="click: unfollowChannelCommand">Unfollow Channel</a></li>
                
                
                <li><a href="#" data-bind="click: logoutCommand">Logout</a></li>
                
            </ul>
            
        </div>
        
    </div>
    
    
    <div class="message-list"  data-role="content" xdata-theme="b" data-iscroll>
        
        
        
        <ul data-role="listview" >
            
            
            
            <li class="channel-list-item">
                
                <a  class="channel-list-anchor" href="#"  >
                    
                    
                    <div class="channel-list-stripe2"></div>
                    
                    
                    <div class="channel-list-avatar" style="background-image:url('resources/megaphone.png')"></div>
                    
                    <span class="channel-info">
                        <span class="channel-name" data-bind="text: title"></span>
                        <span class="channel-description" data-bind="text: description">description</span>
                        <span class="channel-url" data-bind="text: url" ></span>
                        
                        
                    </span>
                    <div class="channel-list-avatar-frame"></div>
                    
                    
                    
                </a>
                
            </li>
            
            
                        
            
            <!-- ko foreach: messages, updateListviewOnChange:messages -->
            
            
            
            <li class="message-list-item">
                
                <div  class="message-list-container" >
                    
                    <div class="message-list-stripe"></div>
                    
                    
                    <a data-role="none" href="#" data-bind="click: $parent.showMessage">
                        <div  class="message-info" style="min-height:45px;">
                            
                            
                            
                            <div class="message-text" data-bind="text: (text.length > 60)?text.substring(0,60) + ' ...': text" style="margin-left:5px;"></div>
                            <div style="margin-left:10px;font-size:9pt;" data-bind="text: 'sent: ' + convDate(created)"></div>
                            
                        </div>
                    </a>
                    
                </div>
                
                
            </li>
            
            <!-- /ko -->
            
            
            
            
            <li class="channel-message-item more_messages_button" data-icon="false">
                
                
                <a data-role="none"  href="#" data-bind="click: showMoreMessagesCommand" >
                    <div  class="channel-message-container">
                        
                        
                        <div class="message-list-stripe"></div>
                        
                        <div class="channel-message-info">
                            <div class="channel-message-avatar" style="background:white;"></div>
                            <div class="channel-message-text">Show More Messages</div>
                            
                        </div>
                        
                        
                        
                        
                        
                    </div>
                </a>
                
            </li>
            
            
            
            
            
        </ul>
        
        
    </div>
    <div class="footer" data-role="footer" data-inset="true">BETA V-22 Broadcasts</div>
</div>
