<div id="channelMessagesView" data-role="page">

  <header>
    <a href="#" class="back" onclick="goToView('escalationPlansView');"><em></em>BACK</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>
  
  <div class="page-content channelsettings">
  
    <div class="channelcontent">
      <span class="channelimg channel3 sky-blue"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text:title"></strong>
          <em data-bind="text:description"></em>
        </div>
        <a href="#" class="setting" onclick="goToView('channelViewUnfollow');"></a>
      </div>
    </div>
    
    <div class="channelmessages" data-bind="foreach: channelMessages">
      <a href="#" data-bind="click: $parent.showSingleMessage">
        <span class="channelicans" data-bind="css:$data.messageClass"></span>
        <div class="messageschannel">
          <span class="timemsg" data-bind="text:$data.messageCreated"></span>
          <span class="messagebtn">iGi</span>
          <p data-bind="text:$data.messageText"></p>
        </div>
      </a>
    </div>
    
  </div>
  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
  
</div>
