<!-- To Do - Devender - Remove this later -->
<div id="channelViewUnfollow" data-role="page" >
	<header class="logged-in"></header> 
  <div class="page-content channelsettings">
    <div class="channelcontent">
      <span class="channelimg channel3 sky-blue"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text:title"></strong>
          <em data-bind="text:description"></em>
        </div>
      </div>
    </div>
    <h1>Channel Settings</h1>
    <a class="unfollow" href="#" data-bind="click:unfollowChannelCommand">UNFOLLOW</a>
    <div class="radiobtn">
      <div class="yes-no">
        <label for="flip-1">Reveal my email address(es)</label>
         <div class="yesno-click" data-bind="click: comingSoon">
          <span class="yesbutton">Yes</span>
          <span class="nobutton">No</span>
        </div>
      </div>
      
      <div class="yes-no">
        <label for="flip-1">Reveal my SMS/TXT number(s)</label>
         <div class="yesno-click" data-bind="click: comingSoon">
          <span class="yesbutton">Yes</span>
          <span class="nobutton">No</span>
        </div>
      </div>
      
      <div class="yes-no">
        <label for="flip-1">Reveal my first and last name </label>
         <div class="yesno-click" data-bind="click: comingSoon">
          <span class="yesbutton">Yes</span>
          <span class="nobutton">No</span>
        </div>
      </div>
  
    </div>
  </div>
  <div class="toast-notification"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Channel Unfollow', 'channelViewUnfollow', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Channel Unfollow', 'channelViewUnfollow', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
