<div id="changePasswordView" data-role="page">
	<header class="logged-in" data-bind="visible: sectionOne"></header>
  <header data-bind="visible: sectionTwo"></header> 
  <div class="page-content">
    <div class="portal-name">Your evernym: <span data-bind="text: accountName"></span></div>
    <section class="loginform" data-bind="visible: sectionOne">
      <label class="msginfo">Change your password: </label>
      <div class="formtype" data-bind="css: currentpasswordClass">
      	<input type="password" data-bind="value: currentPassword" placeholder="current password" />
      	<div data-bind="html: errorMessageCurrent" class="errormsg"></div>
      </div>    
      <div class="formtype" data-bind="css: newpasswordClass">
      	<input type="password" data-bind="value: newPassword" placeholder="new password" />
      	<div data-bind="html: errorMessageNew" class="errormsg"></div>
      </div>
      <div class="formtype" data-bind="css: confirmpasswordClass">
        <input type="password" data-bind="value: newConfirmPassword" placeholder="confirm new password" />
        <div data-bind="html: errorMessageConfirm" class="errormsg"></div>
      </div>
      <div class="login"><div class="loginbtn"><a href="#" data-bind="click: changePassword">Submit</a></div></div>
    </section>
    <div class="baseline" data-bind="visible: sectionOne"></div>
    <section data-bind="visible: sectionTwo"> 
      <div class="signedup changepswd">Your password has been updated</div>    
      <div class="loginbtn"><a href="#" data-bind="click: okayChangeCommand">OK</a></div>
    </section>    
  </div>	   
  <div class="toast-notification"></div>
  <div class="footer" data-bind="visible: sectionOne">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Change password', 'changePasswordView', 'userSettingsView');;"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Change password', 'changePasswordView', 'plusMenuView');"></a>
  </div>    
  <div class="active-overlay" style="display:none"></div>    
</div>