<div id="channelSingleMessagesView" data-role="page">
  <header class="logged-in"></header>
  <div class="page-content">
    <div class="channelinformation">
      <span class="channelimg" data-bind="css: channelIcon"></span>
      <div class="channelinfocontent last">
        <span data-bind="text:title"></span>
        <a href="#" class="setting" data-bind="visible: setting" onclick="viewNavigate('Message details', 'channelSingleMessagesView', 'channelViewUnfollow');"></a>
        <em data-bind="text:description"></em>
      </div>
    </div>
    <div class="message-detail">
      <div class="messagedetail">
        <em data-bind="css:messageClass"></em>
        <div class="messagedetail-info">
          <span data-bind="text:messageCreated"></span>
          <p data-bind="html:messageText, visible: less"></p>
          <p data-bind="html: moreText, visible: more"></p>
          <a class="morebtn" href="#" data-bind="visible: moreButton, click: showMore">More</a>
          <a class="morebtn lessbtn" href="#" data-bind="visible: lessButton, click: showLess">Less</a>           
        </div>
      </div>      
    </div>
    <div class="msgdetailbuttons">
      <a href="#" data-bind="css: activeClass, click: iGiAck, visible: iGiButton"></a>           
      <a href="#" data-bind="css: dismissClass, click: dismissEscalation, visible: dismissButton">Dismiss</a>
      <!--<a href="#" data-bind="visible: snoozeButton">snooze</a>-->      
      <!--<a class="replybtn" href="#" data-bind="click: comingSoon">Reply</a>-->
    </div>
    <div class="loginbtn"><a href="" data-bind="click: comingSoon">Reply</a></div>             
  </div>
  <div class="toast-notification"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Message details', 'channelSingleMessagesView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Message details', 'channelSingleMessagesView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div> 
</div>