<div id="channelMainView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelsIOwnView');"></a>
    <a class="menu" href="#"></a>
    <div class="linkican">
      <a class="smsican" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingican" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupican" href="#"><span class="received-responses-msg">3</span></a>
    </div>
  </header>  
  <div class="page-content">   
    <div class="channelinformation">
      <a href="#" class="channelimg channel1 borderred" data-bind="click: channelFollowers"></a>
      <div class="channelinfocontent">
        <a class="title" href="#" data-bind="text: channelName, click: channelFollowers">The Hawks</a>
        <a href="#" class="setting" data-bind="click: channelSettings"></a>
        <div class="addfollowers" data-bind="html: followerCount"><!--16 followers<a class="add-followers" href="#">Add Followers</a>--></div>
      </div>
      <!--To do - to be activated when data received-->
      <!--<a class="requestcontent last" href="#">
        <span class="request">+ 1 requests</span>
        <span class="lost">-1 lost</span>
      </a>-->
    </div>
    <div class="dropdown">
      My Broadcasts:
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">newest first</option>
          <option value="min">newest first</option>
          <option value="min">newest first</option>
          <option value="min">newest first</option>
        </select>
      </form>
    </div>
    <div data-bind="foreach: broadcasts">
      <a href="#" class="channelbroadcast" data-bind="click: $parent.singleMessage.bind($index())">
        <div class="broadcast-sensitive" data-bind="css: sensitivity">
          <span data-bind="text: broadcast"></span><em data-bind="text: time">20 min ago</em>
        </div>
        <br />
        <!--To do - to be activated when data received-->        
        <!--<div class="broadcastmsgsend">
          <span>12 Got it<em class="percentage">75%</em></span><em class="broadcastmsgunsend">4 Haven't</em>
        </div>-->
        <div class="broadcastmsgreplie">
          <span data-bind="text: replies"></span><!--<em>3 new</em>-->
        </div>
      </a>
    </div>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>   