<div id="channelMessagesView" data-role="page">
  <header class="logged-in"></header>
  <div class="page-content channelsettings">
		<div class="channelcontent">
			<span class="channelimg channel3 sky-blue"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text:title"></strong>
          <em data-bind="text:description"></em>
        </div>
        <a href="#" class="setting" data-bind="click: actionFollowChannelCommand"></a>
      </div>
    </div>
    
    <div class="channelmessages" data-bind="foreach: channelMessages">
      <a href="#" data-bind="click: $parent.showSingleMessage">
        <span class="igibutton igisent"></span>
        <div class="messageschannel">
          <span class="timemsg" data-bind="text:$data.messageCreated"></span>
          <p data-bind="html:$data.messageShortText"></p>
        </div>
        <span class="iconchannels" data-bind="css:$data.messageClass"></span>
      </a>
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Broadcast Msg', 'channelMessagesView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Broadcast Msg', 'channelMessagesView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>