<div id="channelSingleMessagesView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content">
    <div class="channelinformation">
      <span class="channelimg channel4 sky-blue"></span>
      <div class="channelinfocontent last">
        <span data-bind="text:title"></span>
        <a href="#" class="setting" onclick="viewNavigate('Message details', 'channelSingleMessagesView', 'channelViewUnfollow');"></a>
        <em data-bind="text:description"></em>
      </div>
    </div>
    <div class="message-detail">
      <div class="messagedetail">
        <em data-bind="css:messageClass"></em>
        <div class="messagedetail-info">
          <span data-bind="text:messageCreated"></span>
          <p data-bind="html:messageText"></p>
        </div>
      </div>      
    </div>
    
    <div class="msgdetailbuttons">
      <span data-bind="css: activeClass, click: iGiAck"></span>      
      <a href="#" data-bind="visible: iGiButton">snooze</a>
      <a class="replybtn" href="#" data-bind="click: replyMessage">reply</a>
    </div>         
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Message details', 'channelSingleMessagesView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Message details', 'channelSingleMessagesView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div> 
</div>
