<div id="channelIntroView" data-role="page">
  <header class="logged-in" data-bind="visible: sectionOne"></header>
  <div class="page-content" data-bind="visible: sectionOne">
    <div class="editinformation">
      <span data-bind="html: channelWebAddress"></span>
    </div>      
    <div class="channelinformation">
      <span class="channelimg channel4 sky-blue"></span>
      <div class="channelinfocontent last">
        <span data-bind="text: channelName"></span>
        <div class="taglineedit">
          <a href="#" class="editbutton" data-bind="click: editTagline.bind($data, 'tagline'), text: taglineBtnText"></a>
          <em data-bind="visible: !editing(), text: tagline"></em>
          <input data-bind="visible: editing, value: tagline, hasFocus: editing" />
        </div>
      </div>
      <div class="edit-button">
        <a href="#" class="editbutton" data-bind="click: comingSoon">Change Icon</a>
      </div>
    </div>
    <div class="channellanding chandescription">
      <a class="editbtn" href="#" data-bind="click: editDescription.bind($data, 'desc'), text: descBtnText"></a>
      <div class="descriptionedit">
        <div data-bind="visible: !editingTextarea(), html: longDescription, visible: less"></div>
        <div data-bind="visible: !editingTextarea(), html: moreText, visible: more"></div>
        <textarea class="editDescription" data-bind="visible: editingTextarea, value: longDescription, hasFocus: editing"></textarea>       
        <a class="morebtn" href="#" data-bind="visible: moreButton, click: showMore">More</a>
        <a class="morebtn lessbtn" href="#" data-bind="visible: lessButton, click: showLess">Less</a> 
      </div>   
    </div>
    <div class="contactchannel">
       <div class="loginbtn"><span class="disablebtn">Follow</span></div>
    </div>
    <div class="nextinfo previewdonebtn">
      <a href="#" data-bind="click: showPreview">Preview</a>
      <a href="#" data-bind="click: okCommand">Done</a>
    </div>          
  </div>
  <div class="toast-notification"></div>
  <div class="footer" data-bind="visible: sectionOne">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Channel Intro', 'channelIntroView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Channel Intro', 'channelIntroView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
  <div class="page-content exitpreview" data-bind="visible: sectionTwo">   
    <div class="channelinformation">
      <span class="channelimg channel4 sky-blue"></span>
      <div class="channelinfocontent last">
        <span data-bind="text: channelName"></span>
        <em data-bind="text: tagline"></em>
      </div>
    </div>   
    <div class="channellanding chandescription">
      <div data-bind="html: longDescription, visible: less"></div>
      <div data-bind="html: moreText, visible: more"></div>        
      <a class="morebtn" href="#" data-bind="visible: moreButton, click: showMore">More</a>
      <a class="morebtn lessbtn" href="#" data-bind="visible: lessButton, click: showLess">Less</a>    
    </div>
    <div class="contactchannel">
       <div class="loginbtn"><span class="disablebtn">Follow</span></div>
    </div>      
    <div class="nextinfo previewdonebtn">
      <a href="#" data-bind="click: exitPreview">Exit Preview</a>
    </div>      
  </div>
</div>
