<div id="channelsFollowingListView" data-role="page" data-dom-cache="true" class="channel-list">
  <header class="logged-in"></header>
  
  <div class="page-content channel_follow">
    <div class="dropdown">
      Channels I Follow:
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
        </select>
      </form>
    </div>
    <section data-bind="foreach: channels">
      <div class="channelinformation channel-follow">
        <a href="#" class="channelimg channel5 bordergreen"></a>
        <div class="channelinfocontent last">
          <a href="#" class="channelinfo channelfollow" data-bind="click: $parent.actionFollowChannelCommand">
            <strong data-bind="text:name"></strong>
            <em data-bind="text:description"></em>
          </a>
          <a href="#" class="setting" data-bind="click: $parent.channelViewUnfollow"></a>
        </div>
      </div>
    </section>  
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>
