<!--To do - Pradeep Kumar-->
<div id="channelChangeIconView" data-role="page">
	<header class="logged-in"></header> 
  <div class="page-content">
    <div class="changename">Change Channel Icon Image</div>
    <em class="webaddress">Select an icon for your channel:</em>
    <div class="channelicons">
      <div class="channeliconsinner">
      <a class="leftarrow" href="#"></a>
      <ul>
        <li class="disableicon"><img src="../css/images/channelimg3.png" /></li>
        <li><img src="../css/images/channelimg1.png" /></li>
        <li class="disableicon"><img src="../css/images/channelimg2.png" /></li>
      </ul>
      <a class="rightarrow" href="#"></a>
      </div>
    </div>
    <em class="webaddress">Select a border color for your icon:</em>
    <ul class="icancolourcode">
      <li class="greenyellow"></li>
      <li class="darkgreen"></li>
      <li class="red"></li>
      <li class="pink"></li>
      <li class="skyblue"></li>
      <li class="darkblue"></li>
      <li class="orange"></li>
      <li class="yellow"></li>
      <li class="white"></li>      
    </ul>
    <div class="login">
      <div class="loginbtn">
        <a href="#" data-bind="click: changeChannelIconCommand">Confirm</a>
      </div>
    </div>   
  </div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Change Icon', 'channelChangeIconView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Change Icon', 'channelChangeIconView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   