<div id="channelSettingsView" data-role="page" >
	<header class="logged-in"></header>  
  <div class="page-content channelsettings">
    <div class="channelcontent">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
           <strong data-bind="text: channelName"></strong>
          <em data-bind="text: shortDescription"></em>
        </div>
      </div>
    </div>
    <h1>Channel Settings</h1>
    <a class="editchannel" href="#" data-bind="click: comingSoon">
      Edit channel name
    </a>
    <a class="editchannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'editShortDescriptionView');">
      Edit channel tagline
    </a>
    <a class="editchannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'editLongDescriptionView');">
      Edit web page description
    </a>      
    <a class="editchannel deletechannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'channelDeleteView');">
      Delete this channel
    </a>
    <a class="editchannel changechannel" href="#" data-bind="click: comingSoon">
      Change channel icon image
    </a>
    <div class="radiobtn">
      <div class="yes-no">
        <label for="flip-1">First/Last name required</label>
        <div class="yes-noclick">
          <span data-bind="click: requiredYes.bind($data, 'Share'), css: yesShare">Yes</span>
          <span data-bind="click: requiredNo.bind($data, 'Share'), css: noShare">No</span>              
        </div>
      </div>
      
      <div class="yes-no">
        <label for="flip-1">Notify me of new followers</label>
        <div class="clickyesno">
          <span data-bind="click: requiredYes.bind($data, 'Notify'), css: yesNotify">Yes</span>
          <span data-bind="click: requiredNo.bind($data, 'Notify'), css: noNotify">No</span>           
        </div>
      </div>           
    
      <div class="yes-no">
        <label for="flip-1">Make this channel public</label>
        <div class="yes-noclick" data-bind="click: comingSoon">
          <span class="yesbutton">Yes</span>
          <span class="nobutton">No</span>
        </div>
      </div>
      
      <div class="yes-no">
        <label for="flip-1">Hide broadcast history</label>
        <div class="yesnoclick" data-bind="click: comingSoon">
          <span class="yesbutton">Yes</span>
          <span class="nobutton">No</span>
        </div>
      </div>
      
      <div class="yes-no">
        <label for="flip-1">Followers must be approved</label>
         <div class="yesno-click" data-bind="click: comingSoon">
          <span class="yesbutton">Yes</span>
          <span class="nobutton">No</span>
        </div>
      </div>
     
    </div>
  </div>
  <div class="toast-notification"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Settings', 'channelSettingsView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'plusMenuView');"></a>
  </div> 
  <div class="active-overlay" style="display:none"></div>  
</div>

