<div id="channelsIOwnView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content" data-bind="visible: sectionOne">  
    <div class="portal-name channelcreated">
      Channels I Own
    </div>
    <div class="baseline"></div>
    <div class="getmsg">You haven't created any channels yet. Be sure your group gets your messages, and Know they know&trade;</div>
    <a href="#" class="Channel" onclick="viewNavigate('Channels', 'channelsIOwnView', 'channelNewView');">Create Your First Channel<span>Go</span></a>
  </div>   
  <div class="page-content" data-bind="visible: sectionTwo">
    <div class="dropdown">
      Channels I Own
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">A - Z</option>
          <option value="min">Z - A</option>
          <option value="min">Most Active</option>
          <option value="min">Largest</option>
        </select>
      </form>
    </div>
    <a href="#" data-bind="foreach: channels">
      <div class="channelcontent">
        <span class="channelimg channel1 borderred" data-bind="click: $parent.channelMain.bind($index())"></span>
        <div class="detailschannel">
          <div class="channelinfo" data-bind="click: $parent.channelMain.bind($index())">
            <strong data-bind="text: channelName"></strong>
            <em data-bind="text: channelDescription"></em>
          </div>
          <div class="setting" data-bind="click: $parent.channelSettings.bind($index())"></div>
        </div>
        <!--To do - to be activated when data received-->            
        <!--<a class="requestcontent" href="#" data-bind="click: $parent.channelMain.bind($index())">
          <span class="request">4 new replies</span>
          <span class="igi">2 new iGi's</span>
        </a>-->
        <div class="requestcontent last">    
          <span class="followers" data-bind="text: followerCount, click: $parent.channelFollowers.bind($index())"></span>
          <span class="add-followers" data-bind="visible: addFollower, click: $parent.addFollowers.bind($index())">Add Followers</span>
          <!--To do - to be activated when data received-->          
          <!--<span class="request">+ 1 requests</span>
          <span class="lost">-1 lost</span>-->
        </div>
      </div>
    </a>  
  </div>
  <div class="toast-notification"></div>     
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Channels', 'channelsIOwnView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Channels', 'channelsIOwnView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>    
</div>    
