<!--To do - Pradeep Kumar-->
<div id="channelListView" data-role="page">
  <header>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg" data-bind="text: newMessagesCount"></span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>   
  </header>
  <div class="page-content">
    <div class="portal-name">Evernym Channels</div>
    
    <!--Top row start-->
    <div class="baseline"></div>
    
    <h1 class="getmsg" data-bind="visible: createFirstChannel">Be sure your group gets your messages.</h1>
    <h1 class="getmsg" data-bind="visible: createFirstChannel">It's fast. Powerful. FREE.</h1>
    <div class="Channel" data-bind="visible: createFirstChannel">Create Your First Channel<a href="#" data-bind="click: goCreateFirstChannel">Go</a></div>
    
    <h1 class="getmsg" data-bind="visible: addInviteFollowers">Your channel: <span data-bind="text: channelWebAddress"></span></h1>
    <h1 class="getmsg" data-bind="visible: addInviteFollowers">doesn't have any followers yet.</h1>
    <div class="Channel" data-bind="visible: addInviteFollowers">Add or Invite Followers<a href="#" data-bind="click: goAddInviteFollowers">Go</a></div>    
    
    <h1 class="getmsg" data-bind="visible: composeBroadcast">You haven't sent any messages yet to your channel: <span data-bind="text: channelWebAddress"></span></h1>
    <div class="Channel" data-bind="visible: composeBroadcast">Compose a Broadcast<a href="#" data-bind="click: goComposeBroadcast">Go</a></div>    
    
    <h1 class="getmsg" data-bind="visible: channelDetails">You are the owner of one channel: <span data-bind="text: channelWebAddress"></span></h1>
    <div class="Channel" data-bind="visible: channelDetails">See Channel Details<a href="#" data-bind="click: goChannelDetails">Go</a></div>    
    
    <div class="Channel" data-bind="visible: channelsIOwn">Go To Channels I Own<a href="#" data-bind="click: goChannelsIOwn">Go</a></div>
    <!--Top row end-->    
    
    <!--Bottom row start-->
    <div class="baseline"></div>
    
    <h1 class="getmsg" data-bind="visible: findChannels">It's also FREE to follow other channels.</h1>
    <div class="Channel" data-bind="visible: findChannels">Find Channels to Follow<a href="#" data-bind="click: goFindChannels">Go</a></div>
    
    <h1 class="getmsg" data-bind="visible: createChannel">Do you have another group that Channels can help you get your messages to?</h1>
    <div class="Channel" data-bind="visible: createChannel">Create Another Channel<a href="#" data-bind="click: goCreateChannel">Go</a></div>

    <h1 class="getmsg" data-bind="visible: channelMessages">You are following one channel: <span data-bind="text: followWebAddress"></span></h1>
    <div class="Channel" data-bind="visible: channelMessages">See Channel Messages<a href="#" data-bind="click: goChannelMessages">Go</a></div>

    <div class="Channel" data-bind="visible: channelsIFollow">Go To Channels I Follow<a href="#" data-bind="click: goChannelsIFollow">Go</a></div>
    <!--Bottom row end-->            
    
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>
</div>
