<!--To do - Pradeep Kumar-->
<div id="channelChangeNameView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content" data-bind="visible: sectionOne">
    <div class="changename">Change Channel Name</div>
    <section class="loginform">
      <label class="msginfo"><em>New channel name (no spaces):</em></label>
      <div class="formtype" data-bind="css: channelClass">
        <input type="text" data-bind="value: channelChangeName" placeholder="(EXAMPLE) 2013hawks" />
        <div class="channelavailable" data-bind="html: message"></div>
        <div class="msgerror" data-bind="html: errorChannel"></div>
      </div>
      <div class="login">
        <p class="loginbtn">
          <a href="#" data-bind="click: nextViewCommand">NEXT</a>
        </p>
      </div>
    </section>
  </div>
  <div class="page-content" data-bind="visible: sectionTwo">
    <div class="changename">Change Channel Name</div>
    <em class="webaddress">Your channel's web page will be:</em>
    <div class="createchannel"><em data-bind="text: channelWebAddress"></em></div>
    <div class="login">
      <p class="loginbtn">
        <a href="#" data-bind="click: confirmChannelChangeNameCommand">CONFIRM</a>
      </p>
    </div>
  </div>
  <div class="toast-notification"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Change Chan', 'channelChangeNameView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Change Chan', 'channelChangeNameView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   