<!--To do - Pradeep Kumar-->
<div id="channelMainView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content">   
    <div class="channelinformation">
      <a href="#" class="channelimg channel1 borderred" onclick="viewNavigate('Main', 'channelMainView', 'followersListView');"></a>
      <div class="channelinfocontent">
        <a class="title" href="#" data-bind="text: channelName" onclick="viewNavigate('Main', 'channelMainView', 'followersListView');"></a>
        <a href="#" class="setting" onclick="viewNavigate('Main', 'channelMainView', 'channelSettingsView');"></a>
        <div class="addfollowers" data-bind="html: followerCount" onclick="viewNavigate('Main', 'channelMainView', 'followersListView');"><!--16 followers<a class="add-followers" href="#">Add Followers</a>--></div>
      </div>
      <br />
      <!--To do - to be activated when data received-->
      <!--<a class="requestcontent last" href="#">
        <span class="request">+ 1 requests</span>
        <span class="lost">-1 lost</span>
      </a>-->
    </div>
    <div class="dropdown">
      My Broadcasts:
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">newest first</option>
          <option value="min">newest first</option>
          <option value="min">newest first</option>
          <option value="min">newest first</option>
        </select>
      </form>
    </div>
    <div data-bind="foreach: broadcasts">
      <a href="#" class="channelbroadcast" data-bind="click: $parent.singleMessage.bind($index())">
        <div class="broadcast-sensitive">
          <span data-bind="html: broadcast"></span><em data-bind="text: time"></em>
        </div>       
        <div class="broadcastmsgsend">
          <span class="igigot" data-bind="html: iGi"></span>
          <span class="percentage" data-bind="html: percentageText, css: percentageClass, style: { width: $data.percentage }"></span>
          <em class="iginotgot" data-bind="text: noiGi"></em>
        </div>    
        <div class="broadcastmsgreplie">
          <span data-bind="text: replies"></span><!--<em>3 new</em>-->
        </div>
      </a>
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Main', 'channelMainView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Main', 'channelMainView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   