<div id="channelListView" data-role="page">
  <header>
    <a class="menu" href="#"></a>
  </header>
  <div class="page-content">
    <div class="portal-name">
      Evernym Channels
    </div>
    <hr noshade>
    <h1 class="getmsg">Be sure your group gets your messages.</h1>
    <h1 class="getmsg">It's fast. Powerful. FREE.</h1>
    <div class="Channel">Create Your First Channel<a href="#" data-bind="click: createChannel">Go</a>
    </div>
    <hr noshade>
    <h1 class="getmsg">It's also FREE to follow other channels.</h1> 
    <div class="Channel">Find Channels to Follow<a href="#" data-bind="click: followChannel">Go</a>
    </div>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#"></a>
  </div>
</div>
