<!--To do - Pradeep Kumar-->
<div id="channelNewView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content" data-bind="visible: sectionOne">
    <div class="changename">Create a Channel</div>
    <em class="webaddress">Name your channel:</em>
    <em class="webaddress">(choose a short name with no spaces)</em>
    <section class="loginform">
      <label class="createchannel">Example:<em> karateclass</em></label>
      <div class="formtype" data-bind="css: channelClass">
        <input type="text" data-bind="value: newChannel, valueUpdate: 'afterkeydown'" placeholder="choose a channel name" />
        <div class="channelavailable" data-bind="html: message"></div>
        <div class="msgerror" data-bind="html: errorNewChannel"></div>
      </div>
      <div class="login">
        <p class="loginbtn">
          <a href="#" data-bind="click: createChannelCommand">Create</a>
        </p>
      </div>
    </section>
  </div>
  <div class="page-content" data-bind="visible: sectionTwo">
    <div class="changename" data-bind="text: channelName"></div>
    <em class="webaddress">You can now invite others to follow your channel at:</em>
    <div class="createchannel"><em data-bind="text: channelWebAddress"></em></div>
    <div class="textsettingsicon">
      You can create your channel's Web Page Description now or later by tapping the Channel Settings icon:<a href="#" onclick="goToView('channelSettingsView')"></a>
    </div>    
    <div class="login">
      <p class="loginbtn">
        <a href="#" data-bind="click: OkCommand">OK, Got it!</a>
      </p>
    </div>
  </div>
  <div class="toast-notification"><div class="toast-text" data-bind="text: toastText"></div></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('New Chan', 'channelNewView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('New Chan', 'channelNewView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   