<!--To do - Pradeep Kumar-->
<div id="channelsIOwnView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelListView');"></a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">
      <a class="smsicon" href="#"></a>
      <a class="processingicon"href="#"></a>
      <a class="groupicon" href="#"></a>
    </div>
  </header>  
  <div class="page-content">
    <div class="dropdown">
      Channels I Own
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">A - Z</option>
          <option value="min">Z - A</option>
          <option value="min">Active s</option>
          <option value="min">Messages</option>
        </select>
      </form>
    </div>
    <a href="#" data-bind="foreach: channels">
      <div class="channelcontent">
        <span class="channelimg channel1 borderred" data-bind="click: $parent.channelMain.bind($index())"></span>
        <div class="detailschannel">
          <div class="channelinfo" data-bind="click: $parent.channelMain.bind($index())">
            <strong data-bind="text: channelname"></strong>
            <em data-bind="text: channeldescription"></em>
          </div>
          <div class="setting" data-bind="click: $parent.channelSettings.bind($index())"></div>
        </div>
        <!--To do - to be activated when data received-->            
        <!--<a class="requestcontent" href="#" data-bind="click: $parent.channelMain.bind($index())">
          <span class="request">4 new replies</span>
          <span class="igi">2 new iGi's</span>
        </a>-->
        <div class="requestcontent last" data-bind="click: $parent.channelFollowers.bind($index())">    
          <span class="followers" data-bind="text: followerCount"></span>
          <!--To do - to be activated when data received-->          
          <!--<span class="request">+ 1 requests</span>
          <span class="lost">-1 lost</span>-->
        </div>
      </div>
    </a>  
  </div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>  
</div>    
