<!--To do - Pradeep Kumar-->
<!-- This View is for edit short description -->
<div id="channelEditDisplayNameView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelSettingsView');"><em></em>Settings</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content">
    <div class="changename">Edit Short Description</div>        
    <section class="loginform">        
      <label class="msginfo"><em>New Short Description (spaces allowed):</em></label>          
      <div class="formtype">
        <input type="text" data-bind="value: channelEditDisplayName" placeholder="The Hawk Soccer Club" />
        <div class="channelavailable" data-bind="html: message"></div>
        <div class="msgerror" data-bind="html: errorChannel"></div>        
      </div>
      <div class="login">
        <div class="loginbtn">
          <a href="#" data-bind="click: changeChannelDisplayNameCommand">CHANGE</a>
        </div>
      </div>
    </section>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>   