<!--To do - Pradeep Kumar-->
<div id="channelMenuView" data-role="page" class="hamburgermenubody">
  <header>
    <a class="menu hamburgermenu" href="#" data-rel="back"></a>
  </header>
  <div class="page-content">
    <a class="hamburgermenuhide" data-rel="back" href="#"></a>
    <div class="slidemenu">
      <h4 data-bind="text: accountName"></h4>
      <a href="#" onclick="goToView('channelsIOwnView');">Channels I Own</a>
      <a class="channels-followicon" href="#" onclick="goToView('channelsFollowingListView');">Channels I Follow</a>
      <a class="new-channelicon" href="#" onclick="goToView('channelNewView');">Create a New Channel</a>
      <!--To do - to be activated when data received-->      
      <!--<a class="find-channelsicon" href="#" onclick="goToView('channelMenuView');">Find Channels to Follow</a>
      <a class="channelsall-messagesicon" href="#" onclick="goToView('channelMessagesView');">All Messages</a>-->
    </div>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>