<!--To do - Devedner-->
<div id="changePasswordView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content">
    <div class="portal-name" data-bind="text: accountName"></div>
    <section class="loginform">
      <label class="msginfo">Please enter your current password: </label>
      <div class="formtype" data-bind="css: currentpasswordClass">
      	<input type="password" data-bind="value: currentPassword" placeholder="current password" />
      	<div data-bind="html: errorMessageCurrent" class="errormsg"></div>
      </div>    
      <label class="msginfo">Please enter a new password: </label>
      <div class="formtype" data-bind="css: newpasswordClass">
      	<input type="password" data-bind="value: newPassword" placeholder="new password" />
      	<div data-bind="html: errorMessageNew" class="errormsg"></div>
      </div>
      <label class="msginfo">Confirm password: </label>
      <div class="formtype" data-bind="css: confirmpasswordClass">
        <input type="password" data-bind="value: newConfirmPassword" placeholder="confirm new password" />
        <div data-bind="html: errorMessageConfirm" class="errormsg"></div>
      </div>
      <div class="login"><div class="loginbtn"><a href="#" data-bind="click: changePassword">SUBMIT</a></div></div>
    </section>
    <div class="baseline"></div>
  </div>	  
  <div class="toast-notification" data-bind="text: toastText"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Change password', 'changePasswordView', 'escalationPlansView');;"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Change password', 'changePasswordView', 'sendMessageView');"></a>
  </div>    
  <div class="active-overlay" style="display:none"></div>    
</div>