<div id="channelSingleMessagesView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('channelMessagesView');"><em></em>Broadcast Msg</a>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">
      <a class="smsicon" href="#"></a>
      <a class="processingicon" href="#"></a>
      <a class="groupicon" href="#"></a>
    </div>
  </header>
    
    <div class="page-content">
      
      <div class="channelinformation">
        <span class="channelimg channel4 sky-blue"></span>
        <div class="channelinfocontent last">
          <span data-bind="text:title"></span>
          <a href="#" class="setting" data-bind="click: actionFollowChannelCommand"></a>
          <em data-bind="text:description"></em>
        </div>
      </div>
      
          
      <div class="message-detail">
      	<div class="messagedetail">
        	<em data-bind="css:messageClass"></em>
          <div class="messagedetail-info">
            <span data-bind="text:messageCreated"></span>
            <p data-bind="text:messageText"></p>
          </div>
        </div>      
      </div>
      
       <div class="snoozedismissbtn">
      	<a href="#">i Got it</a>
        <a class="snoozebtn" href="V-60-snooze-settings.html">snooze</a>
        <a class="snoozebtn" href="#">dismiss</a>
      </div>

      <div class="contactchannel">
         <!--<div class="login"><div class="loginbtn"><a href="V-20-compose-broadcast.html">REPLY</a></div></div>-->
      </div>
           
    </div>
  <div class="toast-notification" data-bind="text: toastText"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>    
</div>
