<!-- To Do - Devender - Remove this later -->
<div id="channelView" data-role="page">
  <header class="logged-in"></header>    
  <div class="page-content">
    <div class="channelinformation">
      <a href="#" class="channelimg channel4 sky-blue"></a>
      <div class="channelinfocontent last">
        <a class="title" href="#" data-bind="text:title"></a>
        <a href="#" class="setting" data-bind="click: channelSettings, visible: settings"></a>
        <em data-bind="text:description"></em>
      </div>
    </div>
    <div class="channelprivate">
      <!--<h4 data-bind="text: followers"></h4>
      <a class="lock-channel" href="#"></a>-->
      <div class="channellanding">
        <div data-bind="html:longdescription, click: editLongDescription, visible: less"></div>
        <div data-bind="html: moreText, click: editLongDescription, visible: more"></div>        
        <a class="morebtn" href="#" data-bind="visible: moreButton, click: showMore">MORE</a>
        <a class="morebtn lessbtn" href="#" data-bind="visible: lessButton, click: showLess">LESS</a>                               
      </div>
    </div>
    
    <div class="contactchannel">
      <div class="login">
        <!--<a href="#">Contact Channel</a>-->
        <span data-bind="if: channelAction">
          <div class="loginbtn">
            <a href="#" data-bind="click:actionFollowChannelCommand"> Follow </a>
          </div>
        </span>
      </div>
    </div>
    <!--
    <a class="togglearrow" href="#">Recent broadcasts: </a>
    <div class="dropdownchanel">
    <ul class="dropdownchanellist">
    <li class="odd"><a href="#"><span class="broadcastsdate">1 hr</span>There are still tickets available for...</a></li>
    <li class="even"><a href="#"><span class="broadcastsdate">Sep 23</span>Thanks to all our fans who supported...</a></li>
    <li class="odd"><a href="#"><span class="broadcastsdate">Sep 19</span>Wear your blue! The big game against...</a></li>
    <a class="addmorelist" href="#">MORE</a>
    <div class="more">
    <li class="odd"><a href="#"><span class="broadcastsdate">1 hr</span>There are still tickets available for...</a></li>
    <li class="even"><a href="#"><span class="broadcastsdate">Sep 23</span>Thanks to all our fans who supported...</a></li>
    <li class="odd"><a href="#"><span class="broadcastsdate">Sep 19</span>Wear your blue! The big game against...</a></li>            
    </div>
    </ul>
    </div>
    -->
  </div>
  <div class="toast-notification"><div class="toast-text" data-bind="text: toastText, css: toastClass"></div></div>
  <div class="footer" data-bind="visible:hasfooter">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Landing Page', 'channelView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Landing Page', 'channelView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
