<!--To do - Pradeep Kumar-->
<div id="channelSettingsView" data-role="page" >
	<header class="logged-in"></header>  
  <div class="page-content channelsettings">
    <div class="channelcontent">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
           <strong data-bind="text: channelName"></strong>
          <em data-bind="text: shortDescription"></em>
        </div>
      </div>
    </div>
    <h1>Channel Settings</h1>
    <a class="editchannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'channelChangeNameView');">
      Edit channel name
    </a>
    <a class="editchannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'editShortDescriptionView');">
      Edit short description
    </a>
    <a class="editchannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'editLongDescriptionView');">
      Edit web page description
    </a>      
    <a class="editchannel deletechannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'channelDeleteView');">
      Delete this channel
    </a>
    <a class="editchannel changechannel" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'channelChangeIconView');">
      Change channel icon image
    </a>
    <div class="radiobtn">
      <div class="yes-no">
        <label for="flip-1">Make this channel public</label>
        <select name="public" data-role="slider">
          <option value="yes">YES</option>
          <option value="no">NO</option>
        </select> 
      </div>
      <div class="yes-no">
        <label for="flip-1">Hide broadcast history</label>
        <select name="history?" data-role="slider">
          <option value="yes">YES</option>
          <option value="no">NO</option>
        </select> 
      </div>
      <div class="yes-no">
        <label for="flip-1">Followers must be approved</label>
        <select name="approval" id="public" data-role="slider">
          <option value="yes">YES</option>
          <option value="no">NO</option>
        </select> 
      </div>
    </div>
  </div>
  <div class="toast-notification"><div class="toast-text" data-bind="text: toastText"></div></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Settings', 'channelSettingsView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Settings', 'channelSettingsView', 'sendMessageView');"></a>
  </div> 
  <div class="active-overlay" style="display:none"></div>  
</div>

