<!--To do - Pradeep Kumar-->
<div id="commethodVerificationView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('signupStepFirstView');"></a>
  </header>
  <div class="page-content">
    <div class="portal-name" data-bind="text: accountName"></div>
    <h1>Verification</h1>
    <div class="success">
      <p data-bind="text: message"></p>
    </div>   
    <div class="loginbtn"><a href="#" onclick="goToView('tutorialView');">Continue</a></div>        
  </div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div> 
</div>