<!--To do - Pradeep Kumar-->
<div id="editLongDescriptionView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content">  
    <div class="changename">Web Page Description</div>        
    <section class="loginform textareatype longdescription">      
      <label class="short-description">Description for:<span data-bind="text: channelName"></span></label>         
      <div class="formtype textareatype">
        <textarea data-bind="value: longDescription" placeholder="(EXAMPLE) Welcome to the Evernym Channel for the Salt Lake City youth soccer team The Hawks coached by Bob Smith.This channel applies particularly to our 2013 season.Please register for Evernym and follow this channel in order to receive ALL team updates including practice schedules, ride-sharing to games, uniform and equipment requests and game times."></textarea>
        <div class="msgerror" data-bind="visible:errorMessage, html: errorChannel"></div>        
      </div>
      <div class="login">
        <div class="loginbtn">
          <a href="#" data-bind="click: longDescriptionCommand">SAVE</a>
        </div>
      </div>
    </section>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Edit Long Description', 'editLongDescriptionView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Edit Long Description', 'editLongDescriptionView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   