<!--To do - Pradeep Kumar-->
<div id="editNameView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('escalationPlansView');"><em></em>Settings</a>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>    
  </header>
  <div class="page-content nofooterbar">
      <div class="portal-name welcome" data-bind="text: accountName"></div>
      <section class="loginform" data-bind="css: firstnameClass">
        <label class="msginfo">Edit Name:</label>
        <div class="formtype" data-bind="css: firstnameClass">
          <input type="text" data-bind="value: firstname" placeholder="Jill" />      
        </div>
        <div class="formtype" data-bind="css: lastnameClass">
          <input type="text" data-bind="value: lastname" placeholder="Jones" />
          <div class="msgerror" data-bind="html: errorFirstLastName"></div>
        </div>
        <div class="loginbtn"><a href="#" data-bind="click: editNameCommand">SAVE</a></div>
      </section>  
    </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>    
</div>
