<!--To do - Pradeep Kumar-->
<div id="editShortDescriptionView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content">  
    <div class="changename">Channel Tagline Description</div>        
    <section class="loginform textareatype">       
      <label class="short-description">A channel tagline for:<span data-bind="text: channelName"></span></label>         
      <div class="formtype textareatype">
        <textarea data-bind="value: shortDescription" placeholder="SLC Boys under-14 (Bob Smith)"></textarea>
        <div class="msgerror" data-bind="visible:errorMessage, html: errorChannel"></div>        
      </div>
      <div class="login">
        <div class="loginbtn">
          <a href="#" data-bind="click: shortDescriptionCommand">SAVE</a>
        </div>
      </div>
    </section>
  </div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Edit Short Desc', 'editShortDescriptionView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Edit Short Desc', 'editShortDescriptionView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   