<!--To do - Pradeep Kumar-->
<div id="editNameView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content nofooterbar">
    <div class="portal-name welcome" data-bind="text: accountName"></div>
    <section class="loginform" data-bind="css: firstnameClass">
      <label class="msginfo">Edit Name:</label>
      <div class="formtype" data-bind="css: firstnameClass">
        <input type="text" data-bind="value: firstname" placeholder="Jill" />
        <div class="msgerror" data-bind="html: errorFirstName"></div>              
      </div>
      <div class="formtype" data-bind="css: lastnameClass">
        <input type="text" data-bind="value: lastname" placeholder="Jones" />
        <div class="msgerror" data-bind="html: errorFirstLastName"></div>
      </div>
      <div class="loginbtn"><a href="#" data-bind="click: editNameCommand">SAVE</a></div>
    </section>  
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Edit Name', 'editNameView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Edit Name', 'editNameView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>      
</div>
