<!--To do - Pradeep Kumar-->
<div id="escalateHelpView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content">
    <div class="compose">
      <h1>Escalate ?</h1>
      <div class="compose-text">
        <p>An "Escalated" message may repeat or try different methods, 
        if the first message isn't responded to. It may first try an 
        email, then try SMS (text) or the app; or it may start with 
        the app, repeat the attempt again later, then try SMS (text).</p>
        <p>The number of attempts and the methods used are determined by 
        how long you'd like us to escalate your message, and how 
        aggressively. Escalation will continue for each follower 
        until a response is received or until the time specified expires.</p>
        <p><strong>CAUTION:</strong> Escalation is quite powerful; only 
        use above the lowest aggressiveness when absolutely necessary, 
        or you might frustrate your followers.</p>
      </div>
     </div>
    <form class="loginform" method="get" action="#">
      <div class="composecheckbok">
        <label>
          <input type="checkbox" name="checkbox-0 "/>Don't show again
        </label>
        <div class="loginbtn"><a href="#" onclick="popBackNav();">OK, Got it!</a></div>       
      </div>
    </form>
  </div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Escalate help', 'escalateHelpView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Escalate help', 'escalateHelpView', 'plusMenuView');"></a>    
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
