<!--To do - Pradeep Kumar-->
<div id="escalateSettingsView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content">
    <div class="all-setting">
      <div class="emergency-setting">
        <em>Is this an Emergency?</em>
        <a class="emergencybtn" href="#">Emergency</a>
      </div>
      <h4>Continues and Overrides All Other Settings</h4>
    </div>
    
    <div class="escalate-settings">
      <div class="escalatedate-time">
        <em>Escalate for how long?</em>
        <div class="escalatedatetime">
          <span data-bind="text: escalationType, visible: escType, css: escalationColor, valueUpdate: {valueUpdate: remindActive, valueUpdate: chaseActive, valueUpdate: houndActive}"></span>
          <span data-bind="text: escalateUntil, css: escalationColor"></span>
          <a href="#" data-bind="text: ecalateTime" onclick="viewNavigate('Escalate Settings', 'escalateSettingsView', 'escalateTimeSettingsView');"></a>
        </div>
      </div>
      <div class="agressively-slider">
        <span>How agressively?</span>
        <div class="slider-value">
          <span class="remind" data-bind="css: remindColor">Remind</span>
          <span class="chase" data-bind="css: chaseColor">Chase</span>
          <span class="hound" data-bind="css: houndColor">Hound</span>
        </div>
        <div class="slidervalue-img">
          <a class="remind-sensitive" href="#" data-bind="css: remindClass, click: remindActive"></a>
          <a class="chase-broadcast" href="#" data-bind="css: chaseClass, click: chaseActive"></a>
          <a class="hound-critical" href="#" data-bind="css: houndClass, click: houndActive"></a>
        </div>
       
      </div>
       <div class="escalatesettingstext">
          <em class="timesensitive">Just a time sensitive FYI</em>
          <em class="broadcastquite">The broadcast is quite important</em>
          <em class="critical">It's critical they get this</em>
        </div>
    </div>
    <div class="loginbtn"><a href="#" data-bind="click: saveCommand">Save and Contine</a></div>
    </div>
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Escalate Settings', 'escalateSettingsView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Escalate Settings', 'escalateSettingsView', 'plusMenuView');"></a>   
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
