<!--To do - Pradeep Kumar-->
<div id="escalateTimeSettingsView" data-role="page" class="channel-list" >
   <header>
    <a href="#" class="back" onclick="goToView('escalateSettingsView');"><em></em>Escalate Settings</a>   
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content">
    <div class="datetime-escalation">
      <h4>Set Date and Time</h4>
      <div class="set-date-time">
        <div class="datetime-setting">
          <a class="top-clickable" href="#"></a>
          <span>Oct</span>
          <a class="bottom-clickable" href="#"></a>
        </div>
        
        <div class="datetime-setting dateminutesetting">
          <a class="top-clickable" href="#"></a>
          <span>28</span>
          <a class="bottom-clickable" href="#"></a>
        </div>
        
        <div class="datetime-setting">
          <a class="top-clickable" href="#"></a>
          <span>2013</span>
          <a class="bottom-clickable" href="#"></a>
        </div>
      </div>
      
      <div class="set-date-time last">
        <div class="datetime-setting">
          <a class="top-clickable" href="#"></a>
          <span>2</span>
          <a class="bottom-clickable" href="#"></a>
        </div>
        <em>:</em>
        <div class="datetime-setting date-minutesetting">
          <a class="top-clickable" href="#"></a>
          <span>28</span>
          <a class="bottom-clickable" href="#"></a>
        </div>
        
        <div class="datetime-setting">
          <a class="top-clickable" href="#"></a>
          <span>PM</span>
          <a class="bottom-clickable" href="#"></a>
        </div>
      </div>
    </div>
    <div class="loginbtn"><a href="#" data-bind="click: saveCommand">Save and Contine</a></div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
  </div>
</div>
