<!--To do - Pradeep Kumar-->
<div id="feedbackView" data-role="page">
	<header class="logged-in"></header> 
  <div class="page-content">
    <h1 class="help-FAQs feedback">Feedback</h1>
    <a class="low-messages praise" href="#" onclick="viewNavigate('Feedback', 'feedbackView', 'inviteFollowersIIView');">Praise</a>
    <a class="low-messages suggestions" href="#" onclick="viewNavigate('Feedback', 'feedbackView', 'inviteFollowersIIView');">Suggestions</a>
    <a class="low-messages bugicon" href="#" onclick="viewNavigate('Feedback', 'feedbackView', 'inviteFollowersIIView');">Report a Bug</a>
  </div>
  <div class="toast-notification"><div class="toast-text" data-bind="text: toastText"></div></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Feedback', 'feedbackView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Feedback', 'feedbackView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   
 
