<div id="feedbackView" data-role="page">
	<header class="logged-in"></header> 
  <div class="page-content">
    <h1 class="help-FAQs feedback">Feedback</h1>
    <a class="low-messages praiseicon" href="#" data-bind="click: praise">Praise</a>
    <a class="low-messages suggestionsicon" href="#" data-bind="click: suggestions">Suggestions</a>
    <a class="low-messages bugicon" href="#" data-bind="click: reportABug">Report a Bug</a>
  </div>
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Feedback', 'feedbackView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Feedback', 'feedbackView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   
 
