<!--To do - Pradeep Kumar-->
<div id="firstChannelView" data-role="page">
  <header class="logged-in"></header>  
  <div class="page-content followerpage">
    <div class="search-query">
      <form class="loginform" method="get" action="#">
        <label class="msginfo">Find Your First Channel to Follow</label>
        <div class="formtype searchtype">
       		<input type="search" placeholder="search for Channel name or keyword" />
        </div> 
      </form>
    </div>
    <div class="channelsrecommended">
      <h1>Channels recommended for you:</h1>
      <a href="#" class="channelcontent">
        <span class="channelimg channel4 sky-blue"></span>
        <div class="detailschannel last">
          <div class="channelinfo">
            <strong>byufootball</strong>
            <em>The official channel of BYU football</em>
          </div>
        </div>
      </a>
      <a href="#" class="channelcontent">
        <span class="channelimg channel2 borderyellow"></span>
        <div class="detailschannel last">
          <div class="channelinfo">
            <strong>slcpl</strong>
            <em>Salt Lake City Public Library's Book Club</em>
          </div>
        </div>
      </a>
      <a href="#" class="channelcontent">
        <span class="channelimg channel6 borderblue"></span>
        <div class="detailschannel last">
          <div class="channelinfo">
            <strong>byufootball</strong>
            <em>The official channel of BYU football</em>
          </div>
        </div>
      </a>
      <div class="Channel browseall">Not seeing anything yet?<a href="#">Browse All</a></div>
    </div>
  </div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Settings', 'userSettingsView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Settings', 'userSettingsView', 'plusMenuView');"></a>
  </div> 
</div>