<!--To do - Pradeep Kumar-->
<div id="firstChannelView" data-role="page">
  <header>
    <a href="#" class="back" data-bind="html: backText, click: backCommand"></a>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content followerpage">
    <div class="search-query">
      <form class="loginform" method="get" action="#">
        <label class="msginfo">Find Your First Channel to Follow</label>
        <div class="formtype searchtype">
       		<input type="search" placeholder="search for Channel name or keyword" />
        </div> 
      </form>
    </div>
    <div class="channelsrecommended">
      <h1>Channels recommended for you:</h1>
      <a href="#" class="channelcontent">
        <span class="channelimg channel4 sky-blue"></span>
        <div class="detailschannel last">
          <div class="channelinfo">
            <strong>BYU Football</strong>
            <em>The official channel of BYU football</em>
          </div>
        </div>
      </a>
      <a href="#" class="channelcontent">
        <span class="channelimg channel2 borderyellow"></span>
        <div class="detailschannel last">
          <div class="channelinfo">
            <strong>SLCPL</strong>
            <em>Salt Lake City Public Library's Book Club</em>
          </div>
        </div>
      </a>
      <a href="#" class="channelcontent">
        <span class="channelimg channel6 borderblue"></span>
        <div class="detailschannel last">
          <div class="channelinfo">
            <strong>BYU Football</strong>
            <em>The official channel of BYU football</em>
          </div>
        </div>
      </a>
      <div class="Channel browseall">Not seeing anything yet?<a href="#">BROWSE ALL</a></div>
    </div>
  </div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div> 
</div>