<!--To do - Pradeep Kumar-->
<div id="followerDetailsView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content followerpage">
    <div class="followerchannel last">
      <div class="channelcontent broadecast">
        <span class="channelimg channel1 borderred"></span>
        <div class="channelinfoname" data-bind="text: channelName"></div>
      </div>
    </div>
    <div class="followerchannel">
      <div class="low-messages followerdetails" data-bind="html: followerName">
        <!--Biff Jones <em>theycallmebiff</em>-->
      </div>
    </div>
    <!--<div class="followerchannel followerincrease">
      <h1 class="response">iGi Response Rate:</h1>
      <div class="broadcastmsgsend">
        <span class="msgincreasefull"><em class="percentage">75%</em></span>
      </div>
      <h1 class="response">Average iGi Response Time: <span>1.2 hrs</span></h1>
      
    </div>-->
    <div class="loginbtn removefollower"><a href="#" data-bind="click: removeFollower">Remove follower from this channel</a></div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>    
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
