<div id="followerDetailsView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content">
    <div class="provisionalchannel">
      <span class="channelimg channel1 borderred"></span>
      <div class="channelinfoname" data-bind="text: channelName"></div>
    </div>
    
    <div class="provisionalfollower">
      <span class="followernormal" data-bind="css: nameClass"><em class="evernym" data-bind="visible: evernymIcon"></em></span>
      <div class="provisional-follower">
        <span data-bind="text: followerName"></span>
        <div data-bind="foreach:followerCommethods">
          <span data-bind="text: address"></span>
        </div>
      </div>
    </div>    

    <div class="loginbtn" data-bind="visible:evernymType"><a href="#" onclick="viewNavigate('Followers', 'followerDetailsView', 'editFollowerDetailsView');">Edit</a></div>
    <div class="loginbtn removefollower">
      <a href="#" onclick="viewNavigate('Follower Details', 'followerDetailsView', 'removeFollowerView');">Remove follower from this channel</a>
    </div>
  </div> 
  <div class="toast-notification"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Follower Details', 'followerDetailsView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Follower Details', 'followerDetailsView', 'plusMenuView');"></a>    
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>
