<!--To do - Pradeep Kumar-->
<div id="followersListView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content followerpage">
    <div class="followerchannel">
      <div class="channelcontent broadecast">
        <span class="channelimg channel1 borderred"></span>
        <div class="channelinfoname" data-bind="text: channelName"></div>
        <a href="#" class="setting settinginner" onclick="viewNavigate('Followers', 'followersListView', 'channelSettingsView');"></a>
      </div>
    </div>      
    <div class="followerchannel">
      <a class="low-messages newfollowers" href="#" onclick="viewNavigate('Followers', 'followersListView', 'addInviteFollowersView');">Add or invite new followers</a>
    </div>    
    <!--<div class="followerchannel">
      <h1 class="requests">Follower Requests:</h1>
      <div class="low-messages acceptdecline requestsican">
        <div class="accept-decline">
          <span>Lebron James</span>
          <em>lj-ballin</em>
        </div>
        <div class="acceptdeclinebtn">
          <a href="#">ACCEPT</a>
          <a href="#">DECLINE</a>
        </div>
      </div>
    </div>
    <div class="followerchannel">
      <h1 class="requests">No Longer following:</h1>
      <div class="low-messages acceptdecline norequestsican">
        <div class="accept-decline">
          <span>Will Bown</span>
          <em>willbowen17</em>
        </div>
        <div class="acceptdeclinebtn">
          <a href="#">CLEAR</a>
        </div>
      </div>
    </div>-->
    <div class="dropdown">
      <span class="followerssearch" data-bind="text: followerCount"></span>
      <form class="chaneldropdown" action="#" method="get" >
        <select>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
          <option value="min">A-Z</option>
        </select>
      </form>
    </div>
    <div data-bind="foreach: followers">
      <a href="#" class="low-messages allfollowercs" data-bind="click: $parent.followerDetails.bind($index())">
        <div class="accept-decline">
          <span data-bind="text: followerName"></span>
          <em data-bind="text: accountname"></em>
        </div>
      </a>
    </div>
  </div>
  <div class="toast-notification"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Followers', 'followersListView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Followers', 'followersListView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   