<div id="followersListView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content followerpage">
    <div class="followerchannel">
      <div class="channelname">
        <span class="channelimg channel1 borderred"></span>
        <div class="channelinfoname" data-bind="text: channelName"></div>
        <a href="#" class="setting settinginner" onclick="viewNavigate('Followers', 'followersListView', 'channelSettingsView');"></a>
      </div>
    </div>   
    <div class="followerchannel">
      <a class="addinvitebtn" href="#" onclick="viewNavigate('Followers', 'followersListView', 'addInviteFollowersView');"> + Add / Invite </a>
    </div>    
    <div class="followerchannel" data-bind="visible:countIsZero">
      <div data-bind="ifnot: invitesCount() == 0">
        <a class="notificationcount" href="#" onclick="viewNavigate('Followers', 'followersListView', 'invitedFollowersView');">
          Invites<span data-bind="text: invitesCount"></span>
        </a>
      </div>
      <div data-bind="ifnot: declinesCount() == 0">
        <a class="notificationcount declined" href="#" onclick="viewNavigate('Followers', 'followersListView', 'declinedFollowersView');">
          Declined Invites<span data-bind="text: declinesCount"></span>
        </a>
      </div>
      <div data-bind="ifnot: unreachCount() == 0">
        <a class="notificationcount nocontact" href="#" onclick="viewNavigate('Followers', 'followersListView', 'unreachableFollowersView');">
          Un-reachable Followers<span data-bind="text: unreachCount">0</span>
        </a>
      </div>
    </div>
    <div class="pending" data-bind="text: followerCount"></div>
    <div data-bind="foreach: followers">
      <a href="#" data-bind="css: nameClass, click: $parent.followerDetails.bind($index())">
        <span class="evernym" data-bind="visible: evernymIcon"></span>
        <div class="normalinvites">
          <span data-bind="text: followerName"></span>
          <em data-bind="text: accountname"></em>
        </div>
      </a>      
    </div>
  </div>
  <div class="toast-notification"></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Followers', 'followersListView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Followers', 'followersListView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   