<div id="forgotPasswordView" data-role="page" > 
  <header>
    <a data-role="none" href="#loginView" class="back"></a>
    <a data-role="none" class="menu" href="#"></a>
  </header>
  <div class="page-content">
        
    <form class="loginform">
      <label class="msginfo">Forgot Password:</label>
      <div class="formtype" data-bind="css: usernameClass">
      	<input type="text" data-bind="value: accountName" placeholder="your username(Evernym)" />
      </div>
      <span>OR</span>
      <div class="formtype" data-bind="css: emailClass">
        <input type="text" data-bind="value: email" placeholder="the email you registered with" />
         <div class="errormsg" data-bind="text:errorForgotPassword">Email not found</div>
      </div>      
      <div class="login"><p class="loginbtn"><a href="#" data-bind="click: forgotPasswordCommand">SUBMIT</a></p></div>
    </form>
    <hr noshade>
    <div class="signedup changepswd" data-bind="text:notification"></div>  
     
  </div>
</div>
