<!--  FORGOT PASSWORD VIEW -->

<div id="forgotPasswordView" class="channel-list" data-role="page" >
    <div class="header" data-role="header" xdata-theme="b">
        <a href="#loginView" data-role="button" data-icon="arrow-l" >Login</a>
        <h1>Forgot Password</h1>
    </div>
    
    <div data-role="content" id="" Xdata-theme="b">
        
        
        <ul data-role="listview">
            
            <li class="message-list-item ">
                
                <div  class="message-list-container" >
                    
                    
                    <div class="message-info">
                        <div class="message-list-avatar" style="background:#8DC63F;"></div>
                        <div class="message-list-avatar-frame"></div>
                        <form data-role="none">
                            
                            <table style="margin-left:30px;margin-top:5px;">
                                <tr>
                                    <td class="login-info">
                                        
                                        
                                        <input data-role="none" id="userName" type="text" data-bind="value: accountName" placeholder="Evernym" autocomplete="on" autofocus="autofocus"   autocapitalize="off"/>
                                        <br/>
                                        <input data-role="none" id="email" type="email" data-bind="value: email" placeholder="Email"   />
                                        <br/>
                                        <input data-role="none" id="forgotpassword" type="submit" data-bind="click: forgotPasswordCommand" value="Submit" data-inline="true" />
                                        
                                        
                                    </td>
                                </tr>
                            </table>
                            
                            
                        </form>
                        
                        
                        
                    </div>
                    
                    
                </div>
                
                
                
            </li>
            
            
            <li class="sub-message-list-item" id="forgotPasswordNotification">
                
                <div  class="sub-message-list-container">
                    
                    <div class="message-list-stripe"></div>
                    
                    <div class="sub-message-info">
                        <div class="sub-message-list-avatar" style="background:#8D463F;"></div>
                        <div class="sub-message-list-avatar-frame"></div>
                        <div class="sub-message-text" data-bind="text:notification"></div>
                        
                    </div>
                    
                </div>
                
                
            </li>
            
            
        </ul>
        
        
        
        
        
        
        
        
    </div>
    
    <div class="footer" data-role="footer" >BETA V-03 ForgotPassword</div>
</div>
