<!--To do - Pradeep Kumar-->
<div id="forgotPasswordSuccessView" data-role="page">
  <header>
    <a href="#" class="back logintop" onclick="goToView('loginView');"><em></em>Forgot P/W</a>
  </header>
  <div class="page-content"> 
    <section class="loginform">
      <label class="msginfo">Forgot Password : </label>
      <div class="formtype validationright">
        <input type="text" data-bind="value: resetAccount" placeholder="your username ( Evernym )" />
      </div>
      <div class="signedup changepswd">We've sent you an email with a link to change your password</div>         
      <div class="login">
        <div class="loginbtn">
          <a href="#" data-bind="click: okayCommand">OKAY</a>
        </div>
      </div>
    </section>
  </div>
</div>