<div id="helpView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('escalationPlansView');"></a>
    <a class="menu" href="#"></a>
    <div class="linkican">
      <a class="smsican" href="#"></a>
      <a class="processingican" href="#"></a>
      <a class="groupican" href="#"></a>
    </div>
  </header>  
  <div class="page-content">
    <h1 class="help-FAQs">Help and FAQs</h1>
    <ul class="helpfull-link">
      <li>How do I edit a Channel name?</li>
      <li>What is escalation?</li>
      <li>What does Evernym mean?</li>
      <li>What's an iGi?</li>
      <li>How do I add a follower?</li>
    </ul>
    <div class="channeledit">
      <h2>How do I edit a Channel name?</h2>
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
    <h2>What is escalation?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
      <h2>What does Evernym mean?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
      <h2>What's an iGi?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
      <h2>How do I add a follower?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div>
</div>   
 
