<!--To do - Pradeep Kumar-->
<div id="helpView" data-role="page">
  <header>
    <a href="#" class="back" data-bind="html: backText, click: backCommand"></a>
    <a class="menu" href="#" data-bind="click: menuCommand"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content">
    <h1 class="help-FAQs">Help and FAQs</h1>
    <ul class="helpfull-link">
      <li>How do I edit a Channel name?</li>
      <li>What is escalation?</li>
      <li>What does Evernym mean?</li>
      <li>What's an iGi?</li>
      <li>How do I add a follower?</li>
    </ul>
    <div class="channeledit">
      <h2>How do I edit a Channel name?</h2>
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
    <h2>What is escalation?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
      <h2>What does Evernym mean?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit">
      <h2>What's an iGi?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="channeledit last">
      <h2>How do I add a follower?</h2>
      <!-- Todo: required text form client -->        
      <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div> 
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>
</div>   
 
