<div id="homeView" data-role="page">
  <header class="logged-in"></header>
  <div class="page-content">
    <div class="portal-name">Evernym Channels</div>
    <div class="baseline"></div>
    <a href="#" class="Channel" onclick="viewNavigate('Home', 'homeView', 'channelNewView');">Create a new channel<span>Go</span></a>
    <div class="baseline"></div>
    <a href="#" class="Channel" onclick="viewNavigate('Home', 'homeView', 'channelsIOwnView');">Channels I Own<span>Go</span></a>
    <div class="baseline"></div>
    <a href="#" class="Channel" onclick="viewNavigate('Home', 'homeView', 'channelsFollowingListView');">Channels I Follow<span>Go</span></a>             
  </div>
  <div class="toast-notification"></div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Home', 'homeView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Home', 'homeView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>
