<!--To do - Pradeep Kumar-->
<div id="inviteFollowersView" data-role="page">
  <header class="logged-in"></header>  
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo"><strong data-bind="text: channelName"></strong></div>
      </div>
    </div>            
    <section class="loginform">
      <label class="invited-followChannel">Recipient's email address:</label>
      <div class="formtype" data-bind="css: emailClass">
        <input type="text" data-bind="value: emailaddress" placeholder="email here" />
        <div class="msgerror" data-bind="html: errorEmail"></div>        
      </div>        
      <label class="invited-followChannel">Jill Jones has invited you to follow an Evernym Channel: <em data-bind="text: channelWebAddress"></em></label>
      <div class="formtype textareatype" data-bind="css: textClass">
        <textarea class="textarea" data-bind="attr: { id: textId }, value: text" placeholder="Add text here..."></textarea>
        <div class="msgerror" data-bind="visible: error, html: errorText"></div>
      </div>             
      <a href="#" class="sendbtnican"><span data-bind="click: sendInviteCommand">send</span></a>
    </section>           
  </div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Settings', 'userSettingsView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Settings', 'userSettingsView', 'plusMenuView');"></a>
  </div>
</div>   