<!--  INVITE FOLLOWERS VIEW -->

<div id="inviteFollowersView" data-role="page" class="channel-list" >
    <div id="gpanel"></div>
    <div id="gpaneldots"></div>
    <div data-role="header" class="header" xdata-theme="b">
        <!--
         <a href="#channelView" data-role="button" data-icon="arrow-l" ><span data-bind="text: channelname"></span> </a>
         
         -->
        
        <a href="#mypanel" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-left menu-button">&nbsp;</a>
        <a href="#mypaneldots" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-right menu-button-dots">&nbsp;</a>
        
        
        
    </div>
    
    
    
    <div class="message-list"  data-role="content" data-iscroll>
        
        
        <ul data-role="listview" >
            
            
            <li class="channel-list-item">
                
                <a  class="channel-list-anchor" href="#"  >
                    
                    <div class="channel-list-stripe2"></div>
                    
                    
                    <div class="channel-list-avatar" style="background-image:url('resources/megaphone.png')"></div>
                    
                    <span class="channel-info">
                        <span class="channel-name" >Invite FOllowers</span>
                        
                    </span>
                    <div class="channel-list-avatar-frame"></div>
                    
                    
                    
                </a>
                
            </li>
            
            
            <li class="message-list-item ">
                
                <div  class="message-list-container" >
                    
                    <div class="message-list-stripe"></div>
                    <div class="message-info" >
                        <div class="message-list-avatar" style="background:#8DC63F;"></div>
                        <div class="message-list-avatar-frame"></div>
                        
                        
                        
                        
                        <div style="margin-left:35px;">
                            <div style="">http://<span data-bind="text: normName"></span>.evernym.com</div>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
                
                
            </li>
        </ul>
        
        
    </div>
    
    
    
    
    <div data-role="content" xdata-theme="b" >
        
        
        <!--
         <div  >
         <div >
         <input id="firstname" type="text" data-bind="value: firstname" placeholder="First Name" autocomplete="on" autofocus="autofocus" required data-validate="required" />
         </div>
         </div>
         
         <div >
         <div >
         <input id="lastname" type="email" data-bind="value: lastname" placeholder="Last Name" autocomplete="on" required data-validate="required" />
         
         </div>
         </div>
         
         <div>
         <div >
         <input id="emailAddress" type="email" data-bind="value: emailaddress" placeholder="Email Address" autocomplete="on"  required data-validate="required|email" />
         </div>
         </div>
         
         <div >
         <div >
         <input id="smsPhone" type="text" data-bind="value: smsPhone" placeholder="SMS Text Phone Number" required data-validate="required" required data-validate="required|phone"/>
         </div>
         </div>
         
         <div >
         <div>
         <input id="addFollowerButton" type="button" data-bind="click: addFollowerCommand" value="Add Follower" data-inline="true"  />
         </div>
         </div>
         
         -->
        
    </div>
   
</div>
