<!--To do - Pradeep Kumar-->
<div id="inviteFollowersIIView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content channelsettings">
    <h1 class="help-FAQs">Praise for Evernym Channels</h1>
    <section class="loginform">
      <label class="invited-followChannel">Your email address (optional):</label>
      <div class="formtype">
        <input type="text" data-bind="value: emailaddress" placeholder="email here" />
      </div>
      <label class="invited-followChannel">Your feedback:</label>
      <div class="formtype textareatype" data-bind="css: feedbackClass">
        <textarea class="textarea" data-bind="attr: { id: feedbackId }, value: feedback" placeholder="Add text here..."></textarea>
        <div class="msgerror" data-bind="visible: error, html: errorFeedback"></div>
      </div>
      <a href="#" class="sendbtnican" data-bind="click: sendFeedbackCommand">
        <span>send</span>
      </a>
    </section> 
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('InviteII', 'inviteFollowersIIView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('InviteII', 'inviteFollowersIIView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div> 
