<div id="loginView" data-role="page">
  <header></header>
  <div class="page-content nofooterbar">  
    <div class="portal-name">Welcome to Evernym</div>  
    <h1 class="logininfo tm">Know they know</h1>    
    <section class="loginform">
      <label class="msginfo">Please login: </label>
      <div class="formtype" data-bind="css: usernameClass">
        <input type="text" data-bind="value: accountName" placeholder="your evernym (username)" />
      </div>
      <div class="formtype" data-bind="css: passwordClass">
        <input type="password" data-bind="value: password" placeholder="password" />
        <div class="msgerror" data-bind="html: errorMessage"></div>            
      </div>
      <label>
        <input type="checkbox" name="rememberPassword" />Remember me
      </label>
      <div class="login">
        <a href="#forgotPasswordView">Forgot password?</a>
        <p class="loginbtn">
          <a href="#" data-bind="click: loginCommand">LOGIN</a>
        </p>
      </div>
    </section>
    <div class="baseline"></div>
    <div class="signedup">Not signed up yet?</div>
    <div class="login"><p class="loginbtn"><a href="#signupStepFirstView">SIGN UP NOW (IT'S FREE!)</a></p></div>    
  </div>
  <!-- <div class="toast-notification toast-tutorial"><div class="toast-text" data-bind="text: toastText"></div></div> -->        
</div>