<!--To do - Pradeep Kumar-->
<div id="notGotItView" data-role="page" >
	<header class="logged-in"></header>
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text: channelName"></strong>
        </div>
      </div>
    </div>
    <div class="broadcastreplies broadcastbuddy" data-bind="text: noacks"></div>
    <div class="messagesundeliver">
      <ul data-bind="foreach: recipients">
        <li data-bind="css: recipientsClass">
          <a href="#" data-bind="html: recipient, click: $parent.recipientDetails.bind($index())"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Not Got it', 'notGotItView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Not Got it', 'notGotItView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>     
</div>

