<!--  PANEL HELP VIEW -->

<div id="panelHelpView" class="channel-list" data-role="page" Xdata-theme="b" >
    <div id="gpanel"></div>
    <div id="gpaneldots"></div>
    <div data-role="header" class="header" Xdata-theme="b">
        <h1>PANEL HELP</h1>
        
        <a href="#mypanel" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-left menu-button">&nbsp;</a>
        <a href="#mypaneldots" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-right menu-button-dots">&nbsp;</a>
        
        
    </div>
    <div data-role="content" Xdata-theme="b" >
        <h2 style="color:white;">panel help</h2>
    </div>
    <div class="footer" data-role="footer" >BETA V-00 panelhelp</div>
</div>