<div id="plusMenuView" data-role="page">
  <header class="logged-in"></header> 
  <div class="page-content channel-broadcast">
    <a href="#" class="Channel" onclick="viewNavigate('Plus Menu', 'plusMenuView', 'channelNewView');">Create a channel<span>Go</span></a>
    <div class="baseline"></div>
    <a href="#" class="Channel" onclick="viewNavigate('Plus Menu', 'plusMenuView', 'sendMessageView');">Send a broadcast<span>Go</span></a>             
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Plus Menu', 'plusMenuView', 'userSettingsView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>
