<!--To do - Pradeep Kumar-->
<div id="privacyPolicyView" data-role="page" class="channel-list" >
   <header>
    <a href="#" class="back" data-bind="visible:hasheader" onclick="goToView('escalationPlansView');"><em></em>Settings</a>
    <a href="#" class="back" data-bind="visible:noheader" onclick="goToView('signupStepFirstView');"><em></em>Step 1</a>    
    <a class="menu" href="#" data-bind="click: menuCommand, visible:hasheader"></a>
    <div class="linkicon" data-bind="visible:hasheader">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content">
    <h1 class="help-FAQs">Privacy Policy</h1>
    <div class="aboutuschannel">
      <!-- Todo: required text form client -->    
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum . . . .
    </div>
    <h1 class="help-FAQs">Terms of Service</h1>
    <div class="terms-service">
      <h2>Welcome to Evernym! And thank you for letting us offer our service to you.</h2>
      <p>
        Our service (which includes our app, our web site, and related services) is designed to give you, our customer, 
        control and privacy over your interactions.  We hope this enables you to have more meaningful interactions, and 
        encourage you to interact freely, but also responsibly.  We want our relationship with you to be professional, yet 
        cooperative, simple and informal. We have chosen not to describe the explicit details ofevery term under which 
        we offer our services.(We hope you like that.)Here are a couple terms we do want to explicitly emphasize.
      </p>
      <p><strong>Your Information – is Yours:</strong>
        We respect the value and all rights in and to your name, your likeness, your personal identity, your content, your data,
        and your work(collectively, your information) that areshared anywhere within our service, and we claim no ownership to such.
        Conversely, using our service does not give you any rights in our service or the content you access.You may not use content 
        from our service unless you obtain permission from its owner or are otherwise permitted by law.
      </p>
      <p><strong>Your Information is Private:</strong>
        We promise to never disclose your personal identity or personalidentifiable information to third parties. We promise to be 
        transparent, provide meaningful notice, and obtain your express written consent prior to any collection, use, dissemination, 
        or maintenance of any of yourinformation.(Unless required otherwise by law or a specific government request, and then only reluctantly.)
      </p>
      <p><strong>Your Information is Secure:</strong>
        We promise to use the strongestsecurity safeguards available to us to protect your information against risks such as loss, unauthorized 
        access or use, destruction, modification or unintended disclosure.
      </p>
      <p><strong>You Control:</strong>
        We have designed our service to put you in control.  We will present you with options (opt-in and opt-out) so that you can interact with
        others solely as you choose.  You can also stop using our service at any time by sending a request to delete your account. If we stop
        providing service to you, we will give you advance notice and a chance to transfer and then removeyour information from our service.
      </p>
      <p><strong>CommonTerms:</strong>
        Werely on reference to, and construction of details of terms that are customary and common in the industry during the service period.
        These include, and you agree, that our service is provided to you on a commercially reasonable "as-is" and "as-available" basis in 
        compliance with all applicable laws, with only those specific promises, commitments, or representations thatare stated in these Terms 
        of Service, and we disclaim any warranties and any liability for any form of loss or damage. 
      </p>
      <p><strong>Wait!!  I'm almost done?:</strong>
        Where is the legalese that is in allother terms of service?
      </p>
      <h6>In its place, and in consideration for the privacy and control provided in our service, we ask that you agree to:</h6>
        <ul>
          <li><strong>Use our serviceresponsibly,</strong></li>
          <li class="inside">
            <ul>
              <li> avoid illegal, malicious or prohibited items like spam, viruses, or hate communication</li>
            </ul>
          </li>
          <li><strong>Contact us,</strong> if you have either:</li>
          <li class="inside">
            <ul>
              <li>a) questions regarding our service or these terms,or </li> 
              <li>b) suggestions on how we can provide a better service for you, and </li>
            </ul>
          </li>
          <li><strong>Work with us,</strong> in a spirit of good faith and cooperation to reach a resolution if any dispute arises.</li>
          <li class="inside">
            <ul>
              <li>
              In the unlikely eventthat a dispute arises, and we are unable to timely reach a resolution that 
              both you and we are satisfied with, then you agree (and we agree) that the dispute shall be finally settled 
              by arbitration administered by the American Arbitration Association (or similar body) in accordance with the
              provisions of its applicable Arbitration Rules.
              </li>
            </ul>
          </li>
        </ul> 
      <span>I agree ____</span>
      <span>PS</span>
      <h6>We will not change the Terms of Service without giving you notice and the choice to Opt-in or Opt-out.</h6>
      <div class="ourservices">
        We are continuously developing and expanding the features and functionality of ourservices. In the future, we may 
        offer services, features or content, or create service limits above which we may charge for.  We may also offer to 
        pay you profit-sharing related to advertising or other revenue associated with existing or future services or features. 
        There may also be changes in laws or other circumstances affecting our ability to provide services under the above terms.  
        If any suchchanges in or affecting services require additional or revised terms other than those stated above, we will 
        inform you of the new terms, and then provide you the option to either i) continue with such services, under the new terms, or ii) 
        to request termination of your service and deletion of your account. (i.e. Opt-in or Opt-out). The Terms of Service will not be 
        unilaterally altered.
      </div>
    </div>
  </div> 
  <div class="footer" data-bind="visible:hasfooter">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>
</div>
