<!--To do - Pradeep Kumar-->
<div id="registrationVerifyView" data-role="page">
  <header>
  </header>  
  <div class="page-content">
    <div class="portal-name" data-bind="text: accountName"></div>
    <h4 class="evernym-live">Your evernym is now live!</h4>
    <div class="success">
      <p>Now you can follow channels, create channels, broadcast messages and more.</p>
      <p>We've sent a confirmation message to your email address. Either click the link in the email or enter the code provided below.</p>
    </div>
    <div class="add-action">
      <div class="addaction">
        <input type="text" data-bind="value: verificationCode" placeholder="enter 6-digit code from email" />
        <a href="#" class="addbtn verify"  data-bind="click: verifyRequestCommethod">VERIFY</a>       
      </div>
      <div class="error-message" data-bind="html: errorMessage"></div>      
    </div>
    <div class="resend">
      Can't find the code?
      <a class="addbtn" href="#" data-bind="click: requestVerificationCode">RE-SEND</a>
    </div>     
    <div class="loginbtn"><a href="#" class="ui-link" data-bind="click: skipCommand">SKIP FOR NOW</a></div>
  </div>
  <div class="toast-notification toast-tutorial"></div>   
  <div class="footer tutorialbottombar"></div>
</div>   