<div id="removeFollowerView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content channelsettings">
    <a href="#" data-bind="css: nameClass" class="deletefollwer">
      <span class="evernym" data-bind="visible: evernymIcon"></span>
      <div class="normalinvites">
        <span data-bind="text: followerName"></span>
        <em data-bind="text: reachable, visible: evernym"></em>
      </div>
    </a>   
    <div class="confirmdelete"><span></span>Are you sure you want to remove this follower? This cannot be undone.</div>
    <div class="login">
      <div class="loginbtn channeldelete">
        <a href="#" data-bind="click: removeFollowerCommand">Remove</a>
      </div>
    </div>
  </div>
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Remove Follower', 'removeFollowerView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Remove Follower', 'removeFollowerView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   