<!--To do - Pradeep Kumar-->
<div id="removeFollowerView" data-role="page">
	<header class="logged-in"></header>  
  <div class="page-content channelsettings">
    <a class="low-messages allfollowercs ui-link" href="#">
      <div class="accept-decline">
        <span data-bind="text: followerName"></span>
        <em data-bind="text: followerAccount"></em>
      </div>
    </a>        
    <div class="confirmdelete"><span></span>Are you sure you want to delete this follower? This cannot be undone.</div>
    <div class="login">
      <div class="loginbtn channeldelete">
        <a href="#" data-bind="click: removeFollowerCommand">DELETE</a>
      </div>
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Remove Follower', 'removeFollowerView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Remove Follower', 'removeFollowerView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>   