<!--To do - Pradeep Kumar-->
<div id="replyDetailView" data-role="page" >
	<header class="logged-in"></header>
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text: channelName"></strong>
        </div>
      </div>
    </div>  
    <h5 class="replydetail" data-bind="text: senderName"></h5>
    <div class="channelprivate reply-detail">
      <span data-bind="text: replyDate"></span>
        <p data-bind="text: reply, visible: less"></p>
        <p class="more" data-bind="text: moreText, visible: more"></p>
        <a class="morebtn" href="#" data-bind="visible: moreButton, click: showMore">MORE</a>
        <a class="morebtn lessbtn" href="#" data-bind="visible: lessButton, click: showLess">LESS</a>        
    </div>   
    <!--<div class="contactchannel">
       <div class="login">
         <div class="loginbtn">
           <a href="#" data-bind="click: replyButton">REPLY</a>
         </div>
       </div>
    </div>-->
  </div>
  <div class="toast-notification"><div class="toast-text" data-bind="text: toastText"></div></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Reply Detail', 'replyDetailView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Reply Detail', 'replyDetailView', 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>     
</div>

