<!--To do - Pradeep Kumar-->
<div id="requestiGiHelpView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content composepage">
    <div class="compose">
      <h1>Request iGi ?</h1>
      <div class="compose-text">
        <h1 class="logininfo tm">Know they know</h1>
        <p>An iGi is short for "I got it!", and is how you "know they know." When you request an iGi, your followers will be prompted to give an iGi 
          when they receive your message, which we receive and make instantly available to you in real-time with this app.</p>
        <p>Important Note: Responses received via SMS (text), including iGi's, may not be correctly matched to your broadcast, as there's no way to be 
          completely sure which broadcast is being responded to. For high iGi accuracy, encourage your followers to receive your messages, and give their 
          iGi's or replies, via this app or email.</p>
      </div>
     </div>
    <div class="loginbtn"><a href="#" onclick="popBackNav();">OK, Got it!</a></div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Request iGi help', 'requestiGiHelpView', 'escalationPlansView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
