<!--To do - Pradeep Kumar-->
<div id="resetPasswordSuccessView" data-role="page">
  <header>
    <a href="#" class="back forgotpassward" onclick="goToView('forgotPasswordView');"></a>
  </header>  
  <div class="page-content">  
    <div class="portal-name" data-bind="text: accountName"></div>      
    <div class="signedup changepswd">Your password has been updated</div>
    <div class="login">
      <div class="loginbtn">
        <a href="#" data-bind="click: okayResetCommand">OKAY</a>
      </div>
    </div>   
  </div>
</div>      