<div id="resetPasswordView" data-role="page">
 	<header>
    <a href="#forgotPasswordView" class="back forgotpassward"></a>
    <a class="menu" href="#"></a>
  </header>
      
  <div class="page-content">
  
    <div class="portal-name"  data-bind="text: accountName">      
    </div>
    
    <form class="loginform">
    
      <label class="msginfo">Please enter a new password:</label>
      
      <div class="formtype" data-bind="css: passwordClass">
      	<input type="password" placeholder="password" data-bind="value: newPassword"/>
      </div>
      
      <label class="msginfo">Confirm password:</label>
      
      <div class="formtype" data-bind="css: confirmPasswordClass">
        <input type="password" data-bind="value: confirmPassword" placeholder="password" />
        <div class="errormsg" data-bind="text:errorResetPassword"></div>
      </div>
      
      <div class="login"><p class="loginbtn"><a href="#" data-bind="click:resetPasswordCommand">SUBMIT</a></p></div>
      
    </form>      
    <hr noshade>
    <div class="signedup changepswd" data-bind="text:changePasswordNotification"></div>
  </div><!--page-content-->
  
  <div class="footer" data-role="footer">
    <a class="logo" href="#"  data-bind="text: accountName"></a>
    <div class="contact-announcement">
      <a class="add-contacts" href="#"></a>
      <a class="announcement" href="#"></a>
    </div>
  </div><!--Footer-->
</div>      