<div id="resetPasswordSuccessView" data-role="page">
  <header>
    <a href="#" class="back forgotpassward" onclick="goToView('forgotPasswordView');"></a>
    <a class="menu" href="#"></a>
  </header>  
  <div class="page-content">  
    <div class="portal-name" data-bind="text: accountName"></div>      
    <div class="signedup changepswd">Your password has been updated</div>
    <div class="login">
      <div class="loginbtn">
        <a href="#" data-bind="click: okayResetCommand">OKAY</a>
      </div>
    </div>   
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="goToView('sendMessageView');"></a>
  </div> 
</div>      