<div id="resetPasswordView" data-role="page">
  <header>
    <a href="#" class="back forgotpassward" onclick="goToView('loginView');"><em></em>Login</a>
  </header>  
  <div class="page-content">   
    <section class="loginform" data-bind="visible: sectionOne">  
      <label class="msginfo">Please enter a new password:</label>  
      <div class="formtype" data-bind="css: passwordClass">
        <input type="password" placeholder="password" data-bind="value: newPassword"/>
      </div>  
      <label class="msginfo">Confirm password:</label>  
      <div class="formtype" data-bind="css: confirmPasswordClass">
        <input type="password" data-bind="value: confirmPassword" placeholder="password" />
        <div class="errormsg" data-bind="text: errorResetPassword"></div>
      </div>  
      <div class="login"><p class="loginbtn"><a href="#" data-bind="click: resetPasswordCommand">SUBMIT</a></p></div>  
    </section>      
    <div class="baseline" data-bind="visible: sectionOne"></div>
    <section class="loginform" data-bind="visible: sectionTwo">   
      <div class="signedup changepswd">Your password has been updated</div>    
      <div class="loginbtn"><a href="#" onclick="goToView('loginView');">OK</a></div>
    </section>       
  </div>
</div>      