<!--To do - Pradeep Kumar-->
<div id="sendMessageView" data-role="page" class="channel-list">
	<header class="logged-in"></header>
  <div class="page-content">
    <section>
      <div class="dropdown sattingtdropdown">
        Send a Broadcast
        <div class="chaneldropdown">
          <select data-bind="options: channels, optionsText: 'channelName', value: selectedChannels, preSelect: {key : 'followers', propertyName : 'selectedChannels', value : 'channelId', optionsValue: 'channelId'}">
          </select>      
        </div>
      </div>
      <div class="broadcast-textarea sattingtextarea longdescription">
        <textarea class="textarea" data-bind="value: messageText, valueUpdate: 'afterkeydown'" placeholder="Add text here..."></textarea>
        <span data-bind="text: characterCount"></span>      
      </div>          
      <div class="escalate-settings escalatesettings">
        <div class="settingscontent">
          <div class="slider-value">
            <span class="normal" data-bind="css: normalText">Normal</span>
            <span class="fast" data-bind="css: fastText">Fast</span>
            <span class="escalate" data-bind="css: escalateText">Escalate</span>
          </div>        
          <div class="slidervalue-img">
            <a class="normalfastescalate" href="#" data-bind="click: normalYes, css: normalClass"></a>
            <a class="normalfastescalate fastcenter" href="#" data-bind="click: fastYes, css: fastClass"></a>
            <a class="normalfastescalate escalateright" href="#" data-bind="click: escalateYes, css: escalateClass"></a>
          </div>
          <div class="broadcastinform">
            <span data-bind="html: duration, css: activeType"></span>
            <a class="escalateedit" href="#" data-bind="click: escalateYes, visible: escalateEdit">EDIT</a>            
          </div>        
        </div>
        <div class="igi-send">
          <div class="igiyesno">
            <span class="reguestigi">Request iGi ?</span>
            <em data-bind="css: igiClass"></em>
            <div class="yes-noclick">
              <a href="#">
                <span data-bind="click: iGiYes, css: yesClass">Yes</span>
                <span data-bind="click: iGiNo, css: noClass">No</span>              
              </a>
            </div>
          </div>
          <div class="sendcontent">
            <div class="broadcastsend"><a class="sendbtnican broadcast-icon" href="#" data-bind="click: sendMessageCommand">SEND</a></div>
          </div>
        </div>
      </div>
    </section> 
  </div>
  <div class="toast-notification"><div class="toast-text" data-bind="text: toastText"></div></div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Compose', 'sendMessageView', 'escalationPlansView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div> 
