<!--  SEND MESSAGE VIEW -->

<div id="sendMessageView" data-role="page" class="channel-list">
    <div id="gpanel"></div>
    <div data-role="header" xdata-theme="b">
        <!--
         <a href="#channelView" data-role="button" data-icon="arrow-l" ><span data-bind="text: channelname"></span> </a>
         
         -->
        
        <a href="#mypanel" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-left menu-button">&nbsp;</a>
        <a href="#mypaneldots" data-rel="popup" data-role="none" data-inline="true" class="ui-btn-right menu-button-dots">&nbsp;</a>
        
        
    </div>
    
    <div data-role="content" xdata-theme="b" >
        
        
        <form class="form-inline">
            
            <div class="control-group">
                <div class="controls">
                    <input id="message" type="text" data-bind="value: message" placeholder="message" autocomplete="on" required data-validate="required"  autofocus="autofocus" data-inline="true" />
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <input id="message_submit" type="submit" data-bind="click: postMessageCommand" value="Submit Message"  data-inline="true" />
                </div>
            </div>
            
            
            
        </form>
        
        
    </div>
    
    <div id="gfooter"></div>
    
</div>
