<!--To do - Pradeep Kumar-->
<div id="sendMessageView" data-role="page" class="channel-list">
   <header>
    <a href="#" class="back" data-rel="back"><em></em>Back</a>
    <a class="menu" href="#" onclick="goToView('channelMenuView');"></a>
    <div class="linkicon">    
      <a class="smsicon smsiconwhite" href="#"><span class="received-responses-msg">2</span></a>
      <a class="processingicon processingiconwhite" href="#"><span class="received-responses-msg">4</span></a>
      <a class="groupicon groupiconwhite" href="#"><span class="received-responses-msg">3</span></a> 
    </div>
  </header>  
  <div class="page-content"> 
  <section>
    <label class="invited-followChannel">Compose a New Broadcast</label>
    <div class="broadcast-textarea">
      <textarea class="textarea" data-bind="value: messageText, valueUpdate: 'afterkeydown'"></textarea>
      <span data-bind="text: characterCount"></span>
    </div>
    <div class="compose-newbroadcast">
      <div class="composedropdown"> 
        <label>Channel</label>
        <select data-bind="options: channels, optionsText: 'channelName', value: selectedChannels, optionsValue: 'channelId'">
        </select>
        <div data-bind="visible: selectedChannels">
          <span data-bind="text: selectedChannels() ? selectedChannels().channelId : 'unknown'"></span>.
        </div>
      </div>     
      <div class="composebroadcast">
        <div class="yes-no">
          <label for="flip-1">Request iGi ?</label>
          <span class="informationicon"></span>
          <select name="history?" data-role="slider">
            <option value="yes">YES</option>
            <option value="no">NO</option>
          </select> 
        </div>       
        <div class="yes-no last">
          <label for="flip-1">Escalate ?</label>
          <span class="informationicon"></span>
          <select name="history?" data-role="slider">
            <option value="yes">YES</option>
            <option value="no">NO</option>
          </select> 
        </div>         
      </div>
    </div> 
    <div class="schedule">
    <a class="schedulecalendar" href="#">Schedule</a>
    <a href="#" class="sendbtnican broadcast-icon" data-bind="click: sendMessageCommand"><span>send</span></a></div>        
  </section>
  </div>
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
  </div>
</div> 
