<div id="signupStepSecondView" data-role="page">
  <header><a href="#" class="back register" onclick="goToView('signupStepFirstView');"><em></em>Step 1</a></header>
  <div class="page-content nofooterbar">
    <div class="portal-name">Welcome to Evernym!</div>
    <section class="loginform">
      <label class="msginfo">Sign up - Step 2 of 2:</label>
      <div class="formtype" data-bind="css: firstnameClass">
        <input type="text" data-bind="value: firstname" placeholder="first name" />
      </div>
      <div class="formtype" data-bind="css: lastnameClass">
        <input type="text" data-bind="value: lastname" placeholder="last name" />
        <div class="msgerror" data-bind="html: errorFirstLastName"></div>
      </div>
      <div class="login">
        <p class="loginbtn">
          <a href="#" data-bind="click: signUpCommand">REGISTER</a>
        </p>
      </div>
    </section>
    <div class="baseline"></div>
  </div>
</div>