<!--To do - Pradeep Kumar-->
<div id="singleMessageView" data-role="page" >
	<header class="logged-in"></header>
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text: channelName"></strong>
        </div>
      </div>
    </div>   
    <h1 class="messagesdate" data-bind="text: time"></h1>    
    <div class="channelbroadcast">
      <a href="#" class="broadcast-sensitive singlemessage" data-bind="click: messageFullText">
        <span data-bind="html: singleMessage"></span>
      </a>
      <!--<div class="broadcastmsgsend">
        <a href="#">
          <span>12 Got it<em class="percentage">75%</em></span>
        </a>
        <a href="V-57-who-hasn't-got-it.html">
          <em class="broadcastmsgunsend">4 Haven't</em>
        </a>
      </div>-->
    </div>    
    <a class="low-messages repliesmsg" href="#" data-bind="text: replies, click: messageReplies">
      <!--<span class="newrepliesmsg">3 new</span>-->
    </a>
    <!--<a class="low-messages messagenotsend" href="#">
      4 Haven't Got It Yet
    </a>
    <a class="low-messages messagesend" href="#">
      12 Got It
    </a>-->
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName, click: userSettings"></a>
    <a class="announcement" href="#" data-bind="click: composeCommand"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>     
</div>

