<!--To do - Pradeep Kumar-->
<div id="singleMessageFullTextView" data-role="page" >
	<header class="logged-in"></header>
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text: channelName"></strong>
        </div>
      </div>
    </div>
    <h1 class="messagesdate" data-bind="text: time"></h1>
    <div class="broadcastmsgredfull">
      <div class="channelbroadcast broadcastmsgred">
        <div class="msgfullread" data-bind="css: sensitivity, html: singleMessage">
        </div>
        <div class="broadcastmsgsend">
          <a href="#" class="igigot" data-bind="html: iGi, click: showWhoGotIt"></a>
          <span class="percentage" data-bind="html: percentageText, css: percentageClass, style: { width: $data.percentage }, click: showWhoGotIt"></span>
          <a href="#" class="iginotgot" data-bind="text: noiGi" onclick="viewNavigate('Full Msg', 'singleMessageFullTextView', 'notGotItView');"></a>
        </div>
      </div>
      <p data-bind="html: fullText"></p>
    </div>    
  </div>
  <div class="toast-notification"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Full Msg', 'singleMessageFullTextView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Full Msg', 'singleMessageFullTextView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>     
</div>

