<div id="singleFeedbackView" data-role="page">
	<header class="logged-in"></header> 
  <div class="page-content">
    <h1 class="help-FAQs feedback">Feedbacks</h1>
    <div class="message-detail">
      <div class="messagedetail">
        <em class='feedbacks' data-bind='css:context' style="margin-right:6px;height:43px;"></em>
        <div class="messagedetail-info" style="float:none;">
          <span data-bind="text:created"></span>
          <p data-bind="text:feedback" style="text-align:justify;"></p>       
        </div>
      </div>      
    </div>
  </div>
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Feedbacks', 'singleFeedbackView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Feedbacks', 'singleFeedbackView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>