<div data-role="page" id="tutorialView">
  <header>
    <div class="tutorial">
      <h1>Introduction to Evernym Channels</h1>
      <ul>
        <li id="slide1Active"></li>
        <li id="slide2Active"></li>
        <li id="slide3Active"></li>
        <li id="slide4Active"></li>
        <li id="slide5Active"></li>
      </ul>
    </div>
  </header>
  <div class="page-content tutorials">
    <div class="tutorialslides" id="slide1">
      <div class="new-user tutorial-1">
        <div class="msg-content">
          <div>
            Notifying your group can be hard
            <strong>Evernym Channels are simple!</strong>
          </div>
          <em></em>
      	</div>
      </div>
    </div>  
    <div class="tutorialslides" id="slide2">
      <div class="new-user tutorial-2">
        <div class="msg-content">
          <div>
            <span>Create a channel, then add or invite others to "follow" it</span>
            <span>No more gathering or maintaining lists of contact info</span>
          </div>
          <em></em>
        </div>
      </div>
    </div>
    <div class="tutorialslides" id="slide3">
      <div class="new-user tutorial-3">
        <div class="msg-content">
          <div>
            <span>Everyone gets messages how they want (email, text, app)</span>
            <span>Urgent messages can "escalate" (repeat, try other devices)</span>
            <span>You'll know who got it, and who didn't</span>
          </div>
          <em></em>
        </div>
      </div>
    </div>
    <div class="tutorialslides" id="slide4">
      <div class="new-user tutorial-4">
        <div class="msg-content">
          <div>
            Even if only for emergencies, every group you're part of should have its own Evernym channel
          </div>
          <em></em>
        </div>
      </div>
    </div>
    <div class="tutorialslides" id="slide5">
      <div class="new-user tutorial-5">
        <div class="msg-content GetStart">
          <div>
            <span>Now notifying your group is simple, and quick.</span>
            <span>And it's free!</span>
          </div>          
          <a href="#" data-bind="click: getStartedCommand">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="toast-notification toast-tutorial"></div>   
  <div class="footer tutorialbottombar"></div>
</div>