<!--To do - Pradeep Kumar-->
<div data-role="page" id="tutorialView">
  <header>
    <div class="tutorial">
      <h1>30-second App Guide</h1>
      <ul>
        <li id="slide1Active"></li>
        <li id="slide2Active"></li>
        <li id="slide3Active"></li>
        <li id="slide4Active"></li>
        <li id="slide5Active"></li>
      </ul>
    </div>
  </header>
  <div class="page-content tutorials">
    <div class="tutorialslides" id="slide1">
      <div class="new-user">
        <img src="../css/images/v-51.jpg" />
      </div>
      <div class="msg-content">
        <p>Getting an urgent message out to a group can be hard</p>
        <span></span>
        <h1>Evernym Channels are simple!</h1>
      </div>
    </div>
    <div class="tutorialslides" id="slide2">
      <div class="new-user">
        <img src="../css/images/v-52.jpg" />
      </div>
      <div class="msg-content">
        <p>Create a channel and invite or add others to "follow" it</p>
        <p>No more gathering or maitaining lists of contact info</p>
        <span></span>
      </div>
    </div>
    <div class="tutorialslides" id="slide3">
      <div class="new-user">
        <img src="../css/images/v-53.jpg" />
      </div>
      <div class="msg-content">
        <p>Everyone gets messages how they want — email, TXT, app</p>
        <p>Urgent messages "escalate" (repeat, try another device)</p>
        <p>The sender knows who got it, and who didn't</p>
        <span></span>
      </div>
    </div>
    <div class="tutorialslides" id="slide4">
      <div class="new-user">
        <img src="../css/images/v-54.jpg" />
      </div>
      <div class="msg-content">
        <p>Even if only for emergencies, every group you're part of should have its own Channel</p>
        <span></span>
      </div>
    </div>
    <div class="tutorialslides" id="slide5">
      <div class="new-user">
        <img src="../css/images/v-55.jpg" />
      </div>
      <div class="msg-content">
        <p>Getting an urgent message out to a group can be hard</p>
      </div>
      <div class="GetStart">
        <a href="#" data-bind="click: getStartedCommand">Get Started</a>
      </div>
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>   
  <div class="footer tutorialbottombar">
</div>