<!--To do - Pradeep Kumar-->
<div data-role="page" id="tutorialView">
  <header>
    <div class="tutorial">
      <h1>30-second App Guide</h1>
      <ul>
        <li id="slide1Active"></li>
        <li id="slide2Active"></li>
        <li id="slide3Active"></li>
        <li id="slide4Active"></li>
        <li id="slide5Active"></li>
      </ul>
    </div>
  </header>
  <div class="page-content tutorials">
    <div class="tutorialslides" id="slide1">
      <div class="new-user tutorial-1">
      </div>
      <div class="msg-content resolution">
        <p>Notifying your group can be hard</p>
        <span></span>
        <h1>Evernym Channels are simple!</h1>
      </div>
    </div>
    <div class="tutorialslides" id="slide2">
      <div class="new-user tutorial-2">
      </div>
      <div class="msg-content resolution-2">
        <p>Create a channel, then add or invite others to "follow" it</p>
        <p>No more collecting email addresses and phone numbers</p>
        <span></span>
      </div>
    </div>
    <div class="tutorialslides" id="slide3">
      <div class="new-user tutorial-3">
      </div>
      <div class="msg-content resolution-3">
        <p>Everyone gets messages how they want (email, text, app, phone)</p>
        <p>Urgent messages can "escalate" (repeat, try other devices)</p>
        <p>You'll know who got it, and who didn't</p>
        <span></span>
      </div>
    </div>
    <div class="tutorialslides" id="slide4">
      <div class="new-user tutorial-4">
      </div>
      <div class="msg-content resolution-4">
        <p>Even if only for emergencies,</p>
        <p>Every group should have its own Evernym Channel</p>
        <span></span>
      </div>
    </div>
    <div class="tutorialslides" id="slide5">
      <div class="new-user tutorial-5">
      </div>
      <div class="msg-content resolution-5">
        <p>Now notifying your group is simple, and fast</p>
        <p>And it's free!</p>
      </div>
      <div class="GetStart">
        <a href="#" data-bind="click: getStartedCommand">Get Started</a>
      </div>
    </div>
  </div>
  <div class="toast-notification toast-tutorial"></div>   
  <div class="footer tutorialbottombar"></div>
</div>