<div id="unreachableHelpView" data-role="page" class="channel-list" >
	<header class="logged-in"></header>  
  <div class="page-content composepage">
    <div class="compose">
      <h1>Un-reachable Followers help ?</h1>
      <div class="compose-text">
        <p>An un-reachable follower has no verified email address or phone number that we can use to deliver a message.</p>
        <p>A follower becomes un-reachable if all of their methods of communication are deleted, or if it's replaced but hasn't been verified yet.</p>
        <p>If the follower has an evernym account (little 'e' in the lower right of their avatar), then he/she can edit their own information. If the follower is still a "guest," then you (or someone you authorize) can make any edits.</p>
      </div>
     </div>
    <div class="loginbtn"><a href="#" onclick="popBackNav();">OK, Got It!</a></div>
  </div>  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Unreachable help', 'unreachableHelpView', 'userSettingsView');"></a>
    <span>BETA</span><a class="announcement" href="#" onclick="viewNavigate('Unreachable help', 'unreachableHelpView', 'plusMenuView');"></a>   
  </div>
  <div class="active-overlay" style="display:none"></div>  
</div>
