<div id="userGuideView" data-role="page">
  <header>
    <span class="menu"></span>
    <div class="linkicon helpicon">
      <div class="smsicon smsiconwhite userguide" href="#"><span class="received-responses-msg">2</span></div>
      <div class="processingicon processingiconwhite userguide" href="#"><span class="received-responses-msg">4</span></div>
      <div class="groupicon groupiconwhite userguide"><span class="received-responses-msg">3</span></div>
    </div>
  </header>
  <div class="page-content">
    <div data-bind="visible: sectionOne">
      <div class="navigation">Quick Navigation</div>
      <div class="settingshelp">Settings</div>
      <div class="broadcasthelp">Create channels, Send broadcasts</div>
      <div class="helpinfo">
        <a href="#" data-bind="click: goToNext">Next &raquo;</a>
      </div>
    </div>
    <div data-bind="visible: sectionTwo">
      <div class="messagecenter">Message Center</div>
      <div class="igihelp">New iGi Responses</div>
      <div class="followershelp">New/Lost Followers</div>
      <div class="helpinfo">
        <a href="#" data-bind="click: okGotIt">Ok, Got it!</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="logo">jill.jones</div>
    <div class="announcement"></div>
  </div>
</div>
