<div id="userGuideView" data-role="page">
  <header>
    <span class="menu"></span>
    <div class="linkicon helpicon">
      <div class="smsicon smsiconwhite userguide" href="#"><span class="received-responses-msg">2</span></div>
      <div class="processingicon processingiconwhite userguide" href="#"><span class="received-responses-msg">4</span></div>
      <div class="groupicon groupiconwhite userguide"><span class="received-responses-msg">3</span></div>
    </div>
  </header>
  <div class="page-content">
    <div data-bind="visible: sectionOne">
      <div class="navigation"><span>Quick Navigation</span></div>
      <div class="settingshelp"><span>Settings</span></div>
      <div class="broadcasthelp"><span>Create channels, Send broadcasts</span></div>
      <div class="helpinfo">
        <span>Quick tour of Evernym Channels</span>
        <a href="#" data-bind="click: goToNext">Next</a>
      </div>
    </div>
    <div data-bind="visible: sectionTwo">
      <div class="messagecenter"><span>Message Center</span></div>
      <div class="igihelp"><span>New iGi Responses</span></div>
      <div class="followershelp"><span>New/Lost Followers</span></div>
      <div class="helpinfo">
        <a class="helpgotit" href="#" data-bind="click: okGotIt">Ok, Got it!</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="logo">jill.jones</div>
    <div class="announcement"></div>
  </div>
</div>
