<div id="verifyContactView" data-role="page">
	<header class="logged-in"></header>
  <div class="page-content">
    <div class="portal-name" data-bind="text: accountName"></div>
   
    <div class="success">
      <p data-bind="ifnot: verificationStatus"><span data-bind="text: verificationCommethod"></span></p>
      <p data-bind="if: verificationStatus">Success! <span data-bind="text: verificationCommethod"></span> has been added to your contact list.</p>
      <p data-bind="text: verificationCommethodType"></p>
    </div>
    
    <div class="add-action">
      <div class="addaction">
        <input type="text" placeholder="enter 6 digit code from email" data-bind="{value: verificationCode}" />
        <a href="#" class="addbtn verify" data-bind="click: verifyRequestCommethod">VERIFY</a>
      </div>
      <div class="error-message" data-bind="html: errorMessage"></div>
    </div>
    
    <div class="resend">
      Can't find the code?
      <a class="addbtn" href="#" data-bind="click: requestVerificationCode">RE-SEND</a>
    </div>
  </div>  
  <div class="toast-notification"></div>   
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Verify Contact', 'verifyContactView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Verify Contact', 'verifyContactView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>
</div>