<div id="verifyContactView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('additionalContactView');"></a>
    <a class="menu" href="#"></a>
  </header>
  
  <div class="page-content">
    <div class="portal-name" data-bind="text: accountName"></div>
   
    <div class="success">
      <p data-bind="ifnot: verificationStatus"><span data-bind="text: verificationCommethod"></span></p>
      <p data-bind="if: verificationStatus">Success! <span data-bind="text: verificationCommethod"></span> has been added to your contact list.</p>
      <p data-bind="text: verificationCommethodType"></p>
    </div>
    
    <div class="add-action">
      <div class="addaction">
        <input type="text" placeholder="enter 6 digit code from email" data-bind="{value: verificationCode}" />
        <a href="#" class="addbtn verify" data-bind="click: verifyRequestCommethod">VERIFY</a>
      </div>
      <div class="error-message" data-bind="html: errorMessage"></div>
    </div>
    
    <div class="resend">
      Can't Find the code?
      <a class="addbtn" href="#" data-bind="click: requestVerificationCode">RESEND</a>
    </div>
  </div>  
  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#"></a>
  </div>
</div>