<div id="verifyContactView" data-role="page">
  <header>
    <a href="#" class="back" onclick="goToView('additionalContactView');"></a>
    <a class="menu" href="#"></a>
  </header>
  
  <div class="page-content">
    <div class="portal-name" data-bind="text: accountName"></div>
   
    <div class="success">
      <p>Success!<span data-bind="text:verificationCommethod"></span> has been added to your contact list.</p>
      <p>We've sent you a confirmation message. Verify by clicking on the link (or enter the code below)</p>
    </div>
    
    <div class="add-action">
      <div class="addaction">
        <input type="text" placeholder="phone or email" />
        <a href="V-09-alternate-version-A.html" class="addbtn verify">VERIFY</a>
      </div>
    </div>
    
    <div class="resend">
      Con't Find the code
      <a class="addbtn" href="#">RESEND</a>
    </div>
  </div>  
  
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="goToView('escalationPlansView');"></a>
    <a class="announcement" href="#"></a>
  </div>
</div>