<!--To do - Pradeep Kumar-->
<div id="whoGotItView" data-role="page" >
	<header class="logged-in"></header>
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text: channelName"></strong>
        </div>
      </div>
    </div>
    
    <div class="broadcastreplies undelivermsg" data-bind="text: acks">
      <!--12 Got It-->
    </div>
    <div class="messagesundeliver messagesdeliver" data-bind="foreach: followers">
      <ul>      
        <li class="even" data-bind="css: followersClass">
          <a href="#" data-bind="html: follower"><span class="timeundeliver">9/16, 3:35 PM</span>BOB SULLIVAN,<em>bobbysullivan</em></a>
        </li>
        <!--<li class="odd"><a href="V-qustion.html">GEOFFREY BOWIE, <em>g-bowie</em></a></li>
        <li class="even"><a href="V-qustion.html"><span></span>BRETT HARDY <em>brett.s.hardy</em></a></li>
        <li class="odd"><a href="V-qustion.html"><span></span>JOHN CLOUD, <em>cloudman</em></a></li>-->
      </ul>
    </div>
  </div>
  <div class="toast-notification" data-bind="text: toastText"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Who Got it', 'whoGotItView', 'escalationPlansView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Who Got it', 'whoGotItView',, 'sendMessageView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>     
</div>

