<!--To do - Pradeep Kumar-->
<div id="whoGotItView" data-role="page" >
	<header class="logged-in"></header>
  <div class="page-content channelsettings">
    <div class="channelcontent broadecast">
      <span class="channelimg channel1 borderred"></span>
      <div class="detailschannel last">
        <div class="channelinfo">
          <strong data-bind="text: channelName"></strong>
        </div>
      </div>
    </div>    
    <div class="broadcastreplies undelivermsg" data-bind="text: acks"></div>
    <div class="messagesundeliver messagesdeliver">
      <ul data-bind="foreach: recipients">      
        <li class="even" data-bind="css: recipientsClass">
          <a href="#" data-bind="html: recipient, click: $parent.recipientDetails.bind($index())"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="toast-notification"></div>    
  <div class="footer">
    <a class="logo" href="#" data-bind="text: accountName" onclick="viewNavigate('Who Got it', 'whoGotItView', 'userSettingsView');"></a>
    <a class="announcement" href="#" onclick="viewNavigate('Who Got it', 'whoGotItView', 'plusMenuView');"></a>
  </div>
  <div class="active-overlay" style="display:none"></div>     
</div>

