<section>
	<h2 class="page-title" data-bind="text: title"></h2>
</section>
<div id="view_channel_instructions" class="container-fluid">

	<div class="row">
		<div class="span4">
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="span4 offset2">
			<input id="signup_submit" type="button" data-bind="click: submitCommand" value="ok" class="btn btn-primary" />
		</div>
	</div>
</div>
