<section>
	<h2 class="page-title" data-bind="text: title"></h2>
</section>
<div id="view_channelnew" class="container-fluid">

	<form class="form-inline">

		<div class="control-group">
				<div class="controls">
				 Channels Help To ...
			</div>
		</div>

		<div class="control-group">
				<div class="controls">
				 <input id="inputChannelName" type="text" data-bind="value: name" placeholder="Enter Channel Name" autocomplete="on" autofocus required data-validate="required" />
			</div>
		</div>

		<div class="control-group">
				<div class="controls">
				<input id="button1" type="button" data-bind="click: createChannelCommand" value="Create Channel"  class="btn btn-primary" />
			</div>
		</div>

	</form>

</div>

